In [126]:
import pandas as pd
import numpy as np

In [1782]:
file_path= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/df_new.csv'
df= pd.read_csv(file_path)
df

,Unnamed: 0,Email,Timestamp,Company
0,0,gaetan@glepage.com,2024-11-02T22:59:15Z,Inria
1,1,mweinelt@users.noreply.github.com,2024-11-02T22:42:26Z,NaN
2,2,9713184+wegank@users.noreply.github.com,2024-11-02T22:29:01Z,@lip6
3,3,pyrox@pyrox.dev,2024-11-02T22:24:44Z,PyroNet
4,4,9713184+wegank@users.noreply.github.com,2024-11-02T22:19:08Z,@lip6
...,...,...,...,...
122946,4995,nickcao@nichi.co,2024-01-10T15:41:38Z,NaN
122947,4996,nickcao@nichi.co,2024-01-10T15:41:23Z,NaN
122948,4997,nickcao@nichi.co,2024-01-10T15:39:12Z,NaN
122949,4998,nickcao@nichi.co,2024-01-10T15:37:51Z,NaN
122950,4999,gaetan@glepage.com,2024-01-10T10:50:07Z,Inria

In [1784]:
# cleaning columns 
df.rename(columns={'Company':'Contributor'}, inplace=True)
df.drop(columns=['Unnamed: 0'], inplace=True)

In [1786]:
df.duplicated().sum()

0

In [1788]:
#df= df.drop_duplicates()

In [1790]:
df['Contributor'] = df['Contributor'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
df['Contributor'] = df['Contributor'].str.strip()

In [1792]:
#df['Contributor'].unique()

In [1794]:
df['Contributor'].value_counts().head()

Contributor
lip6                   5783
sapcc                  2710
European Commission    2530
NTNU                   1993
UESTC                  1954
Name: count, dtype: int64

In [1796]:
df['Contributor'].unique()

array(['Inria', nan, 'lip6', 'PyroNet', 'Freelancer', 'sapcc', 'numtide',
       'mathrills', 'hetzneronline', 'bitrise-io',
       'Sammilani Mahavidyalaya', 'flyingcircusio', 'newrelic',
       'European Commission', 'voltrondata', 'UFOP', 'UESTC',
       'Stealth Company', 'Software Engineer ifm', 'Freelance',
       'Lemonilo', 'no', 'Compass, Inc.',
       'Tokyo University of Agriculture and Technology', 'Strid Tech AB',
       'UC Berkeley', 'Emotion Labs', 'NextQuestion LLC', 'AMTSupport',
       'NTNU', 'Coding For Fun', 'SkylineTechnologies',
       'Karesz-Foundation', 'slab', 'FlyingCircusIO', 'wirenboard',
       'University of Iowa', 'Silverpond', 'g-script', 'nyantec',
       'Programvareverkstedet', 'cyberus-technology', 'Tweag', 'alugha',
       'Qumulo', 'cohere-ai', 'TU Graz', 'upsert-oy', 'n8henrie.com',
       'Independent + Aalto U, former HSE & Skoltech', 'LAAS-CNRS',
       'deepin community', 'cz.nic labs CZ-NIC', 'Red Hat',
       'Self-employed, Apache Software Foundation', 'sportradar',
       'Microsoft Norway', 'datakami', 'Infrastructure DBCDK', 'menzelit',
       'edgelesssys', 'channable', 'ObsidianSystems', 'Intel',
       'eiicon-company', 'mlabs-haskell', 'reMarkable',
       'Helsinki Systems GmbH', 'Wavelens', 'hercules-ci',
       'Edgeless Systems', 'secunet', 'RawkodeAcademy', 'NixOS',
       'Epic Games / Mediatonic', 'fortx', 'sureapp',
       'Vrije Universiteit Brussel', 'dd-ix, tlm-solutions',
       'sensible.io', 'ClickHouse', 'Student caltech', 'WEHI',
       'UC Santa Barbara', 'Microsoft', 'FloQastInc', 'coding-and-typing',
       'Critical TechWorks', 'neodyme-labs', 'basquevolt', 'FeltMC',
       'Professional destroyer of git history', 'ONERA',
       'up² | upsquared', 'Oslandia', 'DeterminateSystems',
       'controlplaneio', 'curried-software', 'Echelon Insights',
       'mnx-solutions', 'microsoft', '42 Angoulême', 'Crosstwine Labs',
       'https://www.global-e.com/', 'Faerie-Dust', 'Possehl Analytics',
       'University of Chicago', 'HSE FCS AMI', 'beeper (Automattic)',
       'proxmox', 'pete.pericksongmail.com', 'google', 'tweag',
       'Outskirts Labs', 'Co-Founder SatoshiLabs', 'Nix.How',
       'helsinki-systems', 'GoTo', 'ozonru ozontech', 'Valletta Ventures',
       'Nix The Systems',
       'TeaClientMC Editify Cordevall Minecraft-essentials', 'ogion.cz',
       'finsit  Wolters Kluwer', 'Enflick', 'VI BRAND STUDIOS', 'HeyJobs',
       'Télécom Paris', 'Self-Employed Consultant', 'charmbracelet',
       'Chaitsa', 'undefined', 'bitwarden', 'Zühlke Engineering GmbH',
       'HumanFirst.ai', 'Carnegie Mellon University', 'AGBV',
       'OPAL-RT Germany', 'Self employed', '7mind', 'unikie tiiuae',
       'Rhodes Island', 'Besançon Hospital', 'canonical', 'opallabs',
       'GoChromatic', 'Student, KTH (Royal Institute of Technology)',
       'IBM Quantum', 'hosting.de GmbH', 'University of Groningen',
       'nginxinc', 'aristanetworks', 'MercuryTechnologies',
       'Friedrich Schiller University Jena', 'relaixnet fem nixos', 'CEA',
       'Toitū Te Whenua Land Information New Zealand', 'BravoBike GmbH',
       'Gabe Dunn Dev gabedunn', 'zulip', 'Icinga',
       'tiko Energy Solutions AG', 'divisionsinc', 'schemamap', 'cat',
       'Holmusk', 'canva', 'MEDIFOX DAN GmbH',
       'Technische Universität München', 'open to work', 'mobilistics',
       'codedownio', 'Swiss Data Science Center Zurich',
       'Machine Intelligence Research Institute', 'Kaspersky',
       'University of Cambridge', 'Adfinis AG', 'memfault',
       'wealthsimple', 'DevOps  Orness / IbanFirst', 'Genki',
       'VeganHacktivists', 'Joynetiks', 'homedepot', 'Debian ⊕ NixOS',
       'Xiamen University', 'grafbase', 'Student', 'Xidian University',
       'https://mercury.com', 'National University of Singapore',
       'Zoolatech', 'Northeastern University', 'Student Epitech 2028',
       'Silverfin', 'wazo-communication', 'Aviture', 'deepmind',
       'TudbuT Development', 'prisma', 'klarna',
       'Peter the Great St.Petersburg Polytechnic University (SPbPU)',
       'cachix', 'NVIDIA', 'DESY', 'nextcloud-gmbh', 'Hua University',
       'Flying Circus Internet Operations GmbH',
       'PhD Student at Télécom Paris // Self employed consultant',
       'Nokia', 'l33tname', 'Northwestern University',
       'Student  PoliMi, Jr. Software Dev  Euclidea', 'slackapi',
       'Shanghai Jiao Tong University', 'Flox', 'jsz4n',
       'MESR, Luxembourg', '/dev/null', 'University of Tübingen and Bonn',
       'SiriusXM (contractor)', 'DB Netz AG', 'fleek-network', 'cmdscale',
       'Strata Research', 'die-tageszeitung', 'Metaswitch | Microsoft',
       'FAU Erlangen-Nürnberg', 'DevInsideYou',
       'Student at ZSEII w Sosnowcu', 'enzime-enterprises',
       'My own consultancy', 'OroraTech', 'canary-technologies-corp',
       'University of Padova', 'joinhonor', 'SESARLab',
       'nBits Labs | ex-Coinhako', 'Temple University', 'Dropbox',
       'Inventorum  shore-gmbh', 'Work From Moon',
       'Indian Institute of Science', 'finegrain', 'Qorvo', 'Risk.Ident',
       'A University, An IT Firm', 'Shopify', 'sendecomp',
       'Unemployed, make an offer!', 'llvm', 'juspay', 'teamniteo',
       'Trier University / DFKI', 'onarray', 'Juspay', 'identinet GmbH',
       'TestLab360', 'NewRelic', 'DuskSystems',
       'Chalmers University of Technology', 'Kurz Kurz Design (China)',
       'understand-ai', 'Thomas Computer Industries', 'mikethai.dev',
       'Caido', 'crowd-ai', 'ATCO Electric',
       'Apotheek Molleman De Coster', 'go-vikunja', 'glasswing-dev',
       'system76', 'PhD, Geology', 'Chongqing University', 'stmcyber',
       'siemens', 'jetify-com', 'upside-services', 'DryFi', 'cognitedata',
       'tidbcloud tikv PingCAP', 'ngrok, wobscale', 'smaxtec',
       'Mr. Henry', 'Cloudflare', 'Yale University', 'Buzzvil',
       'RTU MIREA InfoSec', 'STMCyber', 'Beihang University', 'Firecrawl',
       'Analog-Labs', 'Amazon', 'importantimport', 'juicedata', 'grafana',
       'Independent Contributor', 'inovex', 'Hentioe',
       'Hasso Plattner Institut',
       'Site Reliability Engineer pinax-network', 'Twingate Inc.',
       'Red Hat, Inc.', 'Under Empire', 'FuelLabs', 'yandex && tvlfyi',
       'Information Engineers', 'platformsh', 'aws', 'https://ntnu.edu/',
       'WithSecure', 'VMware', 'Cabiri',
       'University of California, Berkeley',
       'Universidade Tecnológica Federal do Paraná', 'AG Products',
       'VeriFIT', 'X (formerly Google X)', 'lexe-app',
       'Balmelli Analog & Digital', 'coq math-comp LPCIC',
       'Tweag (by Modus Create)', 'Czech Technical University in Prague',
       'flox', 'Well Typed LLP', 'SECO Mind',
       'Technology Innovation Institute', 'tinygo-org', 'O.S. Systems',
       'ZIB & TUB', 'Graz University of Technology', 'Viasat, Inc.',
       'Wiredcraft', 'Monzo Bank', 'Cloud PBX Solutions', 'FOP-2324',
       'Benaco', 'companyzero', 'cabify', 'Radboud University',
       'MetaCell', 'GRICAD/OAR Team', 'Seed-Up',
       'Max Planck Institute for Informatics', 'TikTok', 'staticweb-io',
       'TU Dresden', 'CodeIntelligenceTesting', 'Factbird', 'CooperUnion',
       'FreesmTeam', 'Raf Gemmail', 'lichess.org', 'CodeWeavers',
       'Bit4id S.r.l', 'dreadmaw-industries', 'terminusdb vectorlink-ai',
       'Two Sigma', 'leboncoin', 'University of São Paulo', 'Sky UK',
       'Launch Platform', 'code-supply', 'Etraveli Group AB',
       '/dev/memes', 'vpsfreecz', 'kotify', 'Wuhan University',
       'RiskIdent', 'Beijing Institute of Technology',
       'JWP Consulting GK', '/run/qaidvoid.sock',
       'IT University of Copenhagen', 'SSV Software Systems GmbH',
       'the vision and the enigma', 'Volkswohl Bund Versicherungen',
       'S3NS (Thales x Google)', 'trivago', 'University of Manchester',
       'UK Research and Innovation / STFC',
       'Contemporary Amperex Technology Hungary Kft.', 'Reed College',
       'colearnhq', 'Executive Chefs', 'Sanico Software', 'TZoNE',
       'metabase', 'VertexInc', 'Pearson VUE', 'vector-im',
       'Student at KIT', 'SUSE Linux GmbH', 'efabless', 'replit',
       'Ctrl-D', 'voltusdev', 'BDT Holland', 'Speak-Up-Now', 'denicEG',
       'timeline-holdings',
       'Red Oak Consulting & Services for IT GmbH & Co. KG', 'neuedev IT',
       'CCAM', 'Pionix', 'codemanufacture', 'cargobay UG', 'Free',
       'TVbeat', 'serokell', 'Fivetran', 'hasura', 'Google', 'iMatt Sàrl',
       'huggingface', 'Sandia National Laboratories',
       'Determinate Systems DeterminateSystems', 'Vector Informatik',
       'IMC Trading B.V.', 'zeroflucs',
       'SINTEF Digital - Computer Vision', 'RELEX Solutions',
       'stackabletech',
       'My passion projects are wimpysworld and ubuntu-mate',
       'MobileLIVE', 'AkukinKensetsu', 'otto-de', 'Cisco Systems',
       'Hanakano Consulting', 'TUDelft', 'bevutaIT', 'helsing-ai', 'DIKU',
       'dagster-io', 'Technical University of Munich', 'cloudflare',
       'Netflix', 'FP', 'YMeadows', 'Radio France', 'Yosys HQ', 'EDB',
       'Zhejiang University', 'tsurucapital', 'Tevian LLC', 'Sysdig',
       'zeabur', 'University of Reading', 'blindspot-ai', 'kanpai',
       'CERN', 'PIXMOB', 'MaterializeInc', 'freiheit-com', 'nexedworks',
       'MoonVision', 'dottxt-ai', 'Delivion GmbH', 'integrated-reasoning',
       'hire me plz', 'CodeGra-de', 'omc', 'hell, sector E (aka earth)',
       'Orli Tech', 'janestreet', 'wdzgmbh', 'Self-employed', 'Cisco',
       'Aalto University', 'tinted-software', 'Brick Abode', 'openwpm',
       'GlobalAppTesting', 'tensorfox', 'moduon', 'NetApp',
       'obsidiansystems reflex-frp', 'Media.net', 'privatevoid-net',
       'Previously Ansys, IBM. Now Matroid', 'bouvet',
       'Southern Oregon University', 'decentral-ee, superfluid-finance',
       'coder', 'University of Bonn', 'Integon',
       'botlabs-gg, lavalink-devs', 'knoopx.net',
       'Friedrich-Alexander-Universität Erlangen-Nürnberg', 'discord',
       'MSU Economics / Skoltech CS', 'SUSE', 'shopware', 'mirantis',
       'monogon-dev', 'CEO yaxitech', 'calypso-lang teamisotope',
       'NIT Kurukshetra', 'dctrbx', 'Transparent-CDN', 'nannou-org',
       '3fs', 'Hamburg University of Technology', 'Canyon Bicycles GmbH',
       'Elektroline a.s.', 'unist-loft', 'GourmetEdifice 美食殿',
       'siscodeorg siscode-mc PowerNukkit HelixLauncher', 'SycllaDB',
       'TII', 'Devbox devbox-ab', 'digitallyinduced',
       'WolfCubClan, ShardMC', '1nnovatio', 'Atlassian', 'strise',
       'coreweave', 'dyte-io', 'Electric Visions Ltd', 'goauthentik',
       'dyte-in', 'Ellogon', 'Sony AI', 'innablr', 'team-telnyx',
       'Intenta ARC GmbH', 'learn-anything', 'Universiteit Gent',
       'ATINEL', 'ahrefs ocaml-sf', 'wpengine', 'G-Research',
       'GitLab Inc.', 'Comhlan Ltd.', 'Em sabático',
       'KU Leuven, Institute of Astronomy', 'NetEase Games',
       'NixOS tweag', 'ossia', 'groq',
       'Currently at Comet Technologies Canada',
       'Faculty of Science - University of Porto', 'edgedb', 'RE: GmbH',
       'leaf-insurance', 'DataDog', 'richcongress', 'VivoGroupAu Wrappt',
       'tudock', '/dev/zero', 'QBayLogic B.V.', 'DataChefHQ',
       'fivebinaries', 'input-output-hk',
       'hughobrien.ie, thriveglobal zendesk jet', 'Teamtailor',
       'Entrepreneur', 'frameworkcomputer', 'weliihq, codinglab-io',
       'bevuta IT GmbH', 'Oracle', 'Cisco Meraki', 'Annapurna Labs',
       'primeos-work', 'JamCoreModding pest-parser', 'BitySA',
       'axodotdev',
       'South China Normal University - Software Engineering',
       'Univ. of Aizu', 'Wobcom', 'fntsoftware', 'CITA',
       'northeastern university', 'Jack Henry', 'Black Mesa',
       'F-WuTS HTL Wiener Neustadt', 'Zero Compute Ltd',
       'Netovas Eterna Teknologi', 'XLN Audio AB', 'SberMarket-Tech',
       'Pixel Theory', 'svalabs', 'ZheJiang University', 'bufbuild',
       'FerretDB', 'University of Applied Sciences Upper Austria',
       'TASEmulators', 'discloud', 'tarides', 'facebook', 'famedly',
       'Epitech', 'indeedeng', 'Rudolf Koehler GmbH', 'pengutronix',
       'Pandora', 'ngrok', 'Toulouse School of Economics', 'simplerisk',
       'grodaus', 'RenaissancePlace', '[TBD]', 'red6 enterprise software',
       'StratoKit', 'nesto-software', 'Lunar', 'riboseinc',
       'Opencreek Technology', 'Looking for work', 'expo',
       'charmbracelet goreleaser',
       'Divisions-Maintenance-Group schonfinkel Tarski-Labs', 'zendesk',
       'Fudo Security', 'Misaka Network', 'discloud  vipago',
       'Dome Software', 'testdouble',
       'Nils Bohr Institute, University of Copenhagen', 'TVNU Sweden AB',
       'Determinate Systems', 'Global Wire Oy', 'ClicksCodes',
       'ustc-ivclab', 'ORNESS', 'adora-so', 'zystem-io', 'Ditto',
       'vpsinc', 'Odense Kommune', 'Rhein-Ruhr Systemtechnik',
       'Jointech eG', 'Digizuite', 'Independant Contractor',
       'secunet Security Networks AG', 'Angry Bytes', 'Esevo Tech',
       'DivvyPayHQ', 'tiiuae',
       'Pattonville School District (PSDTools, PHS-TSA)',
       'languagetooler-gmbh', 'SAP Cloud Infrastructure', 'Polyfrost',
       'EPITA', 'Cobiro', 'PhD Student', 'apple', 'Broad Institute',
       'Carallon', 'Unite', 'tomtom-international',
       'Harvard Medical School', 'DBC A/S', 'FP Complete',
       'ferrous-systems', 'OST Ostschweizer Fachhochschule',
       'Obsidian Systems', 'DFINITY', 'Batteries Included', 'Betclic',
       'open-desk', 'Aviatrix', 'dylibso', 'Cryp-GmbH',
       'wasmCloud cosmonic', 'lexerdev', 'Framestore',
       'University of British Columbia', 'Plexinc', 'Coder',
       'Pionix GmbH', 'NASA', 'freelance', 'Sweep', 'Parse.ly',
       'Furnished Finder', 'iptch', 'purrs', 'vBlip', 'CircuitHub',
       'satoshilabs trezor invity', 'Fermyon Technologies',
       'Worcester Polytechnic Institute', 'Wake', 'wiit-cloud', '0x69',
       'The Institute for Social Research, Goethe University North Carolina (Appalachian State University)',
       'home', 'ProtonBase', 'https://linkedin.com/in/rudolfvesely',
       'Mercury, macaroni.dev', 'Instituto superior técnico',
       'notifi-network', 'matter-labs', 'Perforce', 'Biomatters',
       'NotBalds', 'RedHatOfficial', 'Granit', 'Active Shadow LLC',
       'eigerco', 'Nimbly', 'supabase', 'Hannepps', 'trailofbits',
       'unsplash', 'Digitec Galaxus AG',
       'PL Lab, National Tsing Hua University', 'Innovu',
       'NAOSTAGE, Ereimul', '256Lights', 'TietoEVRY', '-', 'tailscale',
       'Instituto Superior Técnico', 'MIPT',
       'Karlsruher Institut für Technologie', 'studio magnetophon', 'BSC',
       'Ecole Centrale Marseille', 'Liquid Instruments', 'linkedin',
       'RÄUMLICH plus GmbH', 'Relativity Space', 'Multiverse-io',
       'RustLangES', 'nedeco GmbH', 'Anduril', 'primait', '> /dev/null',
       '未来ガジェット研究所', 'University of Turku', 'ffmpeg',
       'Stefan Hojer IT-Beratung', 'SquareTable', 'amotus',
       'active-group', 'Public Transport', 'self-employed',
       'Unaffiliated', 'voys, wearespindle, bitstillery, Moving Spirits',
       'cycloidio', 'Tired of I.T!', 'Ant Group', 'oxidecomputer',
       'pandiaoy', 'President of USA', 'inexcomp arch-community',
       'deshiro', 'Autodesk', 'Ironic Design, Inc.',
       '東京大学 / University of Tokyo', 'infracloudio alcionai', 'EQONEX',
       'NLnetLabs', 'kiosc-france', 'vncommunityleague Liminova',
       'openai', 'Crafteo', 'TryGhost', 'Vannevar Labs', 'PUC-Rio',
       'kraudcloud', 'Hardis Group Italia', 'frappe browserstack',
       'observablehq', 'LuccaSA', 'Kyoto University',
       'University of Stuttgart', 'Dcard, yeecord',
       'Orthogone Technologies', 'Sprout Social', 'Bangkok Sod Center',
       'uml-robotics', 'TNG Technology Consulting GmbH', 'residual-inc',
       'imsl', 'Indeed', 'memsql', 'MediaTek Inc.',
       'Nix - Elm - Rust - Python',
       'Computer Sciences, University of Wisconsin - Madison',
       'ETH Zürich', 'Allcode', 'Google UK', 'Avolt.net', 'HarperDB',
       'bwlang', 'keeptruckin', 'Queensland University of Technology',
       'PLCT Lab', 'runtimeverification, kframework', 'crypto.com',
       'EmbarkStudios', 'Tailscale', 'F-WuTS tuw-robotics FunkFeuer',
       'UFABC, Questrade Financial Group', 'RedrockTeam',
       'Previously google, finventures', 'EpitechPromo2028', 'SNCF',
       'shipcap', 'paytronix', 'vercel', 'QuantCo', 'voltagecloud',
       'YADRO.com', 'pdtpartners', 'Working at tibber', 'Cobalt AI',
       'grnhse', 'tails.com', 'Replit',
       'KDE, CESNET, TelecomInfraProject', 'commercetools',
       'Doofemshmirtz Evil Inc.', 'quartzy', 'ksmpartners', 'PushToWeb',
       '\u200c', 'CSIRO', 'NixOS Flox', 'kernkonzept',
       'K3A & Ndemic Creations', 'relex', 'Coldharbour Digital',
       'yaxitech', 'vexxhost', 'ForesightMiningSoftwareCorporation',
       'elastic', 'Monash University', 'google material-motion',
       'sipgate', 'Tree company', 'Kvaser', 'openSUSE-zh', 'invetica',
       'Functional-Genomics-Lab', 'amboss-mededu', 'fpco', 'Trigram',
       'CollaboraOnline', 'infused.io', 'Threema GmbH / Bargen Software',
       'Arm', 'Stockly', 'media.net', 'OptiWise', 'pintia', 'FiguraMC',
       'Bread Financial', 'Mendix', '(-(-_(-_-)_-)-)', 'IMEC vzw',
       'Agendaless Consulting', 'agoda-com', 'Hangzhou, Zhejiang',
       'xpipe-io', 'Netwo', 'OCamlPro'], dtype=object)

In [1798]:
df.loc[:, 'Contributor'] = df['Contributor'].replace(['no', None, np.nan], None)

In [1800]:
df['Contributor'] = df['Contributor'].fillna("None")   # No company= None als string

In [1802]:
df_sorted = df.sort_values(by='Timestamp', ascending=False).reset_index(drop=True)
df_sorted    #falls das danach nicht mehr geht

                           Email             Timestamp Contributor
0              pbsds@hotmail.com  2024-11-05T19:45:17Z        NTNU
1              pbsds@hotmail.com  2024-11-05T19:37:59Z        NTNU
2              pbsds@hotmail.com  2024-11-05T19:32:27Z        NTNU
3              pbsds@hotmail.com  2024-11-05T19:23:10Z        NTNU
4                    me@0upti.me  2024-11-05T18:23:38Z        None
...                          ...                   ...         ...
122946     doron.behar@gmail.com  2021-11-14T18:06:30Z   mathrills
122947  fpletz@fnordicwalking.de  2021-08-11T20:17:41Z        None
122948  fpletz@fnordicwalking.de  2021-08-11T20:06:36Z        None
122949       juloo.dsi@gmail.com  2020-10-23T16:11:55Z     tarides
122950     doron.behar@gmail.com  2020-04-09T20:15:16Z   mathrills

[122951 rows x 3 columns]

In [1804]:
#savety save
#df_sorted.to_csv('df_sorted_37')

"""df_duplicates = pd.merge(df,df10, how= 'inner', indicator=True)
if not df_duplicates.empty:
    print("yes")
else:
    print("no")"""

In [1807]:
df_sorted['Timestamp'] = pd.to_datetime(df_sorted['Timestamp'])
df_sorted['Year'] = df_sorted['Timestamp'].dt.year
df_sorted['Month'] = df_sorted['Timestamp'].dt.month
df_sorted

,Email,Timestamp,Contributor,Year,Month
0,pbsds@hotmail.com,2024-11-05 19:45:17+00:00,NTNU,2024,11
1,pbsds@hotmail.com,2024-11-05 19:37:59+00:00,NTNU,2024,11
2,pbsds@hotmail.com,2024-11-05 19:32:27+00:00,NTNU,2024,11
3,pbsds@hotmail.com,2024-11-05 19:23:10+00:00,NTNU,2024,11
4,me@0upti.me,2024-11-05 18:23:38+00:00,None,2024,11
...,...,...,...,...,...
122946,doron.behar@gmail.com,2021-11-14 18:06:30+00:00,mathrills,2021,11
122947,fpletz@fnordicwalking.de,2021-08-11 20:17:41+00:00,None,2021,8
122948,fpletz@fnordicwalking.de,2021-08-11 20:06:36+00:00,None,2021,8
122949,juloo.dsi@gmail.com,2020-10-23 16:11:55+00:00,tarides,2020,10
122950,doron.behar@gmail.com,2020-04-09 20:15:16+00:00,mathrills,2020,4

In [1809]:
count_2023 = (df_sorted['Year'] == 2023).sum()
count_2023

983

In [1811]:
# who commits?

In [1813]:
# companies / institutions 
company_count = df['Contributor'].nunique()
company_count

858

In [1815]:
# private contributors

none_count= (df['Contributor'] == 'None').sum()
none_count

85842

In [1817]:
# contributors who have just comitted ones

company_counts = df['Contributor'].value_counts()
single_company_values = company_counts[company_counts == 1].index.tolist()
len(single_company_values)

231

In [1819]:
# when was committed?

In [1821]:
# new columns with month names 
month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May',6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}
df_sorted['Month_name'] = df_sorted['Month'].map(month_names)
df_sorted

,Email,Timestamp,Contributor,Year,Month,Month_name
0,pbsds@hotmail.com,2024-11-05 19:45:17+00:00,NTNU,2024,11,November
1,pbsds@hotmail.com,2024-11-05 19:37:59+00:00,NTNU,2024,11,November
2,pbsds@hotmail.com,2024-11-05 19:32:27+00:00,NTNU,2024,11,November
3,pbsds@hotmail.com,2024-11-05 19:23:10+00:00,NTNU,2024,11,November
4,me@0upti.me,2024-11-05 18:23:38+00:00,None,2024,11,November
...,...,...,...,...,...,...
122946,doron.behar@gmail.com,2021-11-14 18:06:30+00:00,mathrills,2021,11,November
122947,fpletz@fnordicwalking.de,2021-08-11 20:17:41+00:00,None,2021,8,August
122948,fpletz@fnordicwalking.de,2021-08-11 20:06:36+00:00,None,2021,8,August
122949,juloo.dsi@gmail.com,2020-10-23 16:11:55+00:00,tarides,2020,10,October
122950,doron.behar@gmail.com,2020-04-09 20:15:16+00:00,mathrills,2020,4,April

In [1823]:
# group by month (not just 2024) 

commits_per_month = df_sorted.groupby(['Year','Month']).size().reset_index(name='commit_count')
commits_per_month

    Year  Month  commit_count
0   2020      4             1
1   2020     10             1
2   2021      8             2
3   2021     11             1
4   2022      1             1
5   2022      4             2
6   2022      5             3
7   2022      6             4
8   2022      7             5
9   2022      8             2
10  2022      9             3
11  2022     10             6
12  2022     11             2
13  2022     12             8
14  2023      1             9
15  2023      2            53
16  2023      3            15
17  2023      4            18
18  2023      5            18
19  2023      6            18
20  2023      7            36
21  2023      8            34
22  2023      9            66
23  2023     10           173
24  2023     11           183
25  2023     12           360
26  2024      1          9129
27  2024      2         11844
28  2024      3         13382
29  2024      4          9989
30  2024      5         14133
31  2024      6         12834
32  2024      7         13681
33  2024      8         13043
34  2024      9         12651
35  2024     10          9529
36  2024     11          1712

In [ ]:
# filter institution/company/other/private