In [126]:
import pandas as pd
import numpy as np

In [1173]:
file_path= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/df_new.csv'
df= pd.read_csv(file_path)
df

,Unnamed: 0,Email,Timestamp,Company
0,0,gaetan@glepage.com,2024-11-02T22:59:15Z,Inria
1,1,mweinelt@users.noreply.github.com,2024-11-02T22:42:26Z,NaN
2,2,9713184+wegank@users.noreply.github.com,2024-11-02T22:29:01Z,@lip6
3,3,pyrox@pyrox.dev,2024-11-02T22:24:44Z,PyroNet
4,4,9713184+wegank@users.noreply.github.com,2024-11-02T22:19:08Z,@lip6
...,...,...,...,...
83988,4995,mail@fabian-affolter.ch,2024-04-19T07:28:22Z,NaN
83989,4996,mail@fabian-affolter.ch,2024-04-19T07:07:50Z,NaN
83990,4997,mail@fabian-affolter.ch,2024-04-19T07:06:06Z,NaN
83991,4998,mail@fabian-affolter.ch,2024-04-19T07:05:48Z,NaN
83992,4999,mail@fabian-affolter.ch,2024-04-19T07:05:31Z,NaN

In [1175]:
df.duplicated().sum()

0

In [1177]:
#df= df.drop_duplicates()

In [1179]:
df['Company'] = df['Company'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
df['Company'] = df['Company'].str.strip()

In [1181]:
#df['Company'].unique()

In [1183]:
df['Company'].value_counts()

Company
lip6                   3245
UESTC                  1819
European Commission    1808
sapcc                  1797
NTNU                   1677
                       ...
Sony AI                   1
Zoolatech                 1
Universiteit Gent         1
ATINEL                    1
nedeco GmbH               1
Name: count, Length: 725, dtype: int64

In [1185]:
#df['Company'].unique()

In [1187]:
df.loc[:, 'Company'] = df['Company'].replace(['no', None, np.nan], None)

In [1189]:
df['Company'] = df['Company'].fillna("None")   # No company= None als string

In [1191]:
none_count_exact = (df['Company'] == 'None').sum()
none_count_exact

57707

In [1193]:
df_sorted = df.sort_values(by='Timestamp', ascending=False).reset_index(drop=True)
df_sorted    #falls das danach nicht mehr geht

,Unnamed: 0,Email,Timestamp,Company
0,0,pbsds@hotmail.com,2024-11-05T19:45:17Z,NTNU
1,1,pbsds@hotmail.com,2024-11-05T19:37:59Z,NTNU
2,2,pbsds@hotmail.com,2024-11-05T19:32:27Z,NTNU
3,3,pbsds@hotmail.com,2024-11-05T19:23:10Z,NTNU
4,4,me@0upti.me,2024-11-05T18:23:38Z,None
...,...,...,...,...
83988,1562,rasmus@precenth.eu,2022-04-02T19:42:11Z,klarna
83989,1766,programming@manuelbaerenz.de,2022-01-06T18:38:04Z,None
83990,770,doron.behar@gmail.com,2021-11-14T18:06:30Z,mathrills
83991,3859,juloo.dsi@gmail.com,2020-10-23T16:11:55Z,tarides
83992,1998,doron.behar@gmail.com,2020-04-09T20:15:16Z,mathrills

In [1206]:
#savety save
#df_sorted.to_csv('df_sorted_37')

"""df_duplicates = pd.merge(df,df10, how= 'inner', indicator=True)
if not df_duplicates.empty:
    print("yes")
else:
    print("no")"""

In [1198]:
df_sorted['Timestamp'] = pd.to_datetime(df_sorted['Timestamp'])
df_sorted['year'] = df_sorted['Timestamp'].dt.year
df_sorted['month'] = df_sorted['Timestamp'].dt.month
df_sorted

,Unnamed: 0,Email,Timestamp,Company,year,month
0,0,pbsds@hotmail.com,2024-11-05 19:45:17+00:00,NTNU,2024,11
1,1,pbsds@hotmail.com,2024-11-05 19:37:59+00:00,NTNU,2024,11
2,2,pbsds@hotmail.com,2024-11-05 19:32:27+00:00,NTNU,2024,11
3,3,pbsds@hotmail.com,2024-11-05 19:23:10+00:00,NTNU,2024,11
4,4,me@0upti.me,2024-11-05 18:23:38+00:00,None,2024,11
...,...,...,...,...,...,...
83988,1562,rasmus@precenth.eu,2022-04-02 19:42:11+00:00,klarna,2022,4
83989,1766,programming@manuelbaerenz.de,2022-01-06 18:38:04+00:00,None,2022,1
83990,770,doron.behar@gmail.com,2021-11-14 18:06:30+00:00,mathrills,2021,11
83991,3859,juloo.dsi@gmail.com,2020-10-23 16:11:55+00:00,tarides,2020,10
83992,1998,doron.behar@gmail.com,2020-04-09 20:15:16+00:00,mathrills,2020,4

In [1200]:
count_2023 = (df_sorted['year'] == 2023).sum()
count_2023

329

In [1202]:
"""df_duplicates = pd.merge(df,df_new, how= 'inner', indicator=True)
if not df_duplicates.empty:
    print("yes")
else:
    print("no")"""

'df_duplicates = pd.merge(df,df_new, how= \'inner\', indicator=True)\nif not df_duplicates.empty:\n    print("yes")\nelse:\n    print("no")'