In [2859]:
import pandas as pd
import numpy as np
import re

In [2306]:
file_path= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/df_new.csv'
df= pd.read_csv(file_path)
df

,Unnamed: 0,Email,Timestamp,Company
0,0,gaetan@glepage.com,2024-11-02T22:59:15Z,Inria
1,1,mweinelt@users.noreply.github.com,2024-11-02T22:42:26Z,NaN
2,2,9713184+wegank@users.noreply.github.com,2024-11-02T22:29:01Z,@lip6
3,3,pyrox@pyrox.dev,2024-11-02T22:24:44Z,PyroNet
4,4,9713184+wegank@users.noreply.github.com,2024-11-02T22:19:08Z,@lip6
...,...,...,...,...
151898,4881,git@stig.io,2023-10-10T09:57:13Z,NaN
151899,4886,git@stig.io,2023-10-10T09:57:12Z,NaN
151900,4890,git@stig.io,2023-10-10T09:57:11Z,NaN
151901,4894,git@stig.io,2023-10-10T09:57:10Z,NaN
151902,4899,git@stig.io,2023-10-10T09:57:09Z,NaN

In [2925]:
# anonimyze Mails

df['Email'] = df['Email'].fillna('')
emails = df['Email']
anonymized_emails = [f"user{i+1}@anonymized.com" for i in range(len(emails))]
df['Email'] = anonymized_emails

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/2369698817.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Email'] = df['Email'].fillna('')
/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/2369698817.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Email'] = anonymized_emails

In [2308]:
# cleaning columns 

df.rename(columns={'Company':'Contributor'}, inplace=True)
df.drop(columns=['Unnamed: 0'], inplace=True)
df['Contributor'] = df['Contributor'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
df['Contributor'] = df['Contributor'].str.strip()

In [2929]:
#df.duplicated().sum()
#df= df.drop_duplicates()

In [2913]:
df['Contributor'] = df['Contributor'].str.replace('@', '', regex=False) #performs simple, direct strin
df['Contributor'] = df['Contributor'].str.strip()

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/853465182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Contributor'] = df['Contributor'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/853465182.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Contributor'] = df['Contributor'].str.strip()

In [2915]:
df['Contributor'].value_counts().head()
df['Contributor'].unique()

Contributor
None                   107283
lip6                     7473
sapcc                    2858
European Commission      2825
NTNU                     2412
Name: count, dtype: int64

In [2933]:
df.loc[:, 'Contributor'] = df['Contributor'].replace(['no', None, np.nan], None)

In [2935]:
df['Contributor'] = df['Contributor'].fillna("None")   # No company= None als string

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/2195943239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Contributor'] = df['Contributor'].fillna("None")   # No company= None als string

In [2937]:
df_sorted = df.sort_values(by='Timestamp', ascending=False).reset_index(drop=True)

In [2939]:
df_sorted['Timestamp'] = pd.to_datetime(df_sorted['Timestamp'])
df_sorted['Year'] = df_sorted['Timestamp'].dt.year
df_sorted['Month'] = df_sorted['Timestamp'].dt.month
df_sorted

,Email,Timestamp,Contributor,Year,Month
0,user1000@anonymized.com,2024-11-05 19:45:17+00:00,NTNU,2024,11
1,user1001@anonymized.com,2024-11-05 19:37:59+00:00,NTNU,2024,11
2,user1002@anonymized.com,2024-11-05 19:32:27+00:00,NTNU,2024,11
3,user1003@anonymized.com,2024-11-05 19:23:10+00:00,NTNU,2024,11
4,user1004@anonymized.com,2024-11-05 18:23:38+00:00,None,2024,11
...,...,...,...,...,...
151830,user62390@anonymized.com,2020-04-09 20:15:16+00:00,mathrills,2020,4
151831,user145796@anonymized.com,2019-12-23 08:33:19+00:00,Stanford University,2019,12
151832,user145797@anonymized.com,2019-12-23 08:32:34+00:00,Stanford University,2019,12
151833,user145798@anonymized.com,2019-12-23 08:31:09+00:00,Stanford University,2019,12
151834,user134550@anonymized.com,2019-05-02 20:42:53+00:00,pandiaoy,2019,5

In [2941]:
count_2023 = (df_sorted['Year'] == 2023).sum()
count_2023

26534

In [2943]:
# commits last 12 Month (November 2023 - Oktober 2024)

df_12 = df_sorted[((df_sorted['Year'] == 2023) & (df_sorted['Month'] >= 11)) | 
                 ((df_sorted['Year'] == 2024) & (df_sorted['Month'] <= 10))]
df_12

,Email,Timestamp,Contributor,Year,Month
1646,user1843@anonymized.com,2024-10-31 23:58:47+00:00,None,2024,10
1647,user410@anonymized.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10
1648,user1846@anonymized.com,2024-10-31 23:51:10+00:00,None,2024,10
1649,user680@anonymized.com,2024-10-31 23:50:05+00:00,None,2024,10
1650,user1847@anonymized.com,2024-10-31 23:46:59+00:00,None,2024,10
...,...,...,...,...,...
146692,user148462@anonymized.com,2023-11-01 00:15:33+00:00,lip6,2023,11
146693,user148463@anonymized.com,2023-11-01 00:15:17+00:00,lip6,2023,11
146694,user148464@anonymized.com,2023-11-01 00:13:02+00:00,None,2023,11
146695,user148465@anonymized.com,2023-11-01 00:02:47+00:00,None,2023,11
146696,user148466@anonymized.com,2023-11-01 00:02:16+00:00,None,2023,11

In [2945]:
#df_12.to_csv('df_12')

Analysis

In [2171]:
# who commits?

In [2947]:
# companies / institutions 
company_count = df_12['Contributor'].nunique()
company_count

928

In [2949]:
# private contributors

none_count= (df_12['Contributor'] == 'None').sum()
none_count

102659

In [2951]:
# Contributor 

contributor_counts = df_12['Contributor'].value_counts()
contributor_counts.head(101)

Contributor
None                                              102659
lip6                                                6966
European Commission                                 2779
sapcc                                               2761
NTNU                                                2356
                                                   ...
upsert-oy                                             35
Silverfin                                             35
canary-technologies-corp                              33
Tokyo University of Agriculture and Technology        32
[TBD]                                                 31
Name: count, Length: 101, dtype: int64

In [2953]:
contributor_counts = df_12['Contributor'].value_counts()

In [2955]:
contributor_counts = df_12['Contributor'].value_counts().reset_index()
contributor_counts.columns = ['Contributor', 'count']
#contributor_counts.to_csv('contributor_counts.csv', index=False)

In [2957]:
# contributors who have just comitted ones

company_counts = df_12['Contributor'].value_counts()
single_commit = company_counts[company_counts == 1]
len(single_commit)

244

In [2959]:
# unique values 

df_12['Contributor'].nunique()

928

In [2961]:
# contributors filtern: chatgpt rechercher
unique_contributors = df_12['Contributor'].unique().tolist()

In [2963]:
unique_contributors_df = pd.DataFrame(unique_contributors, columns=['Contributor'])
unique_contributors_df.to_csv('unique_contributorsdf.csv', index=False)

In [2965]:
# when was committed?

In [2967]:
# new columns with month names 
month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May',6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}
df_12['Month_name'] = df_12['Month'].map(month_names)
df_12

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/1121032929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_12['Month_name'] = df_12['Month'].map(month_names)

,Email,Timestamp,Contributor,Year,Month,Month_name
1646,user1843@anonymized.com,2024-10-31 23:58:47+00:00,None,2024,10,October
1647,user410@anonymized.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October
1648,user1846@anonymized.com,2024-10-31 23:51:10+00:00,None,2024,10,October
1649,user680@anonymized.com,2024-10-31 23:50:05+00:00,None,2024,10,October
1650,user1847@anonymized.com,2024-10-31 23:46:59+00:00,None,2024,10,October
...,...,...,...,...,...,...
146692,user148462@anonymized.com,2023-11-01 00:15:33+00:00,lip6,2023,11,November
146693,user148463@anonymized.com,2023-11-01 00:15:17+00:00,lip6,2023,11,November
146694,user148464@anonymized.com,2023-11-01 00:13:02+00:00,None,2023,11,November
146695,user148465@anonymized.com,2023-11-01 00:02:47+00:00,None,2023,11,November
146696,user148466@anonymized.com,2023-11-01 00:02:16+00:00,None,2023,11,November

In [2969]:
# group by month (not just 2024) 

commits_per_month = df_12.groupby(['Year','Month']).size().reset_index(name='Commits')
commits_per_month

    Year  Month  Commits
0   2023     11    10719
1   2023     12    10780
2   2024      1    12468
3   2024      2    11844
4   2024      3    13382
5   2024      4     9989
6   2024      5    14133
7   2024      6    12834
8   2024      7    13681
9   2024      8    13043
10  2024      9    12651
11  2024     10     9527

In [3145]:
commits_per_month['Commits'].mean().round(2)

12087.58

In [2469]:
# filter top 100 contributor: institution/company/other/private: intensive reasearch with chatgpt, crnchbase, linkedIN & google

In [3159]:
file_path1= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/top_100.csv'
df_filtered= pd.read_csv(file_path1)
df_filtered.head()

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl
0,0,Private,101767,Other,Unknown,NaN
1,1,lip6,6833,Institution,"Paris, France",NaN
2,2,European Commission,2770,Institution,"Brussels, Belgium",NaN
3,3,sapcc,2761,Company,"Walldorf, Germany",1001.0
4,4,NTNU,2350,Institution,"Trondheim, Norway",NaN

In [3161]:
df_filtered.at[0, 'Contributor'] = 'Private'
df_filtered

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl
0,0,Private,101767,Other,Unknown,NaN
1,1,lip6,6833,Institution,"Paris, France",NaN
2,2,European Commission,2770,Institution,"Brussels, Belgium",NaN
3,3,sapcc,2761,Company,"Walldorf, Germany",1001.0
4,4,NTNU,2350,Institution,"Trondheim, Norway",NaN
...,...,...,...,...,...,...
96,96,shopware,35,Company,Germany,201.0
97,97,replit,33,Company,USA,51.0
98,98,Tokyo University of Agriculture and Technology,32,Institution,"Fuchū, Tokyo, Japan",NaN
99,99,canary-technologies-corp,32,Company,USA,51.0
100,100,[TBD],31,Other,Unknown,NaN

In [3273]:
# adding minimum nimber of employess from linkedIn, Crunchbase & Google

numb_empl = {
    'sapcc': 1001,
    'Global-e': 501,
    'wirenboard': 51,
    'ifm electronics': 5001,
    'Tweag': 51,
    'Qumulo': 201,
    'ogion.cz': 30,
    'Silverpond': 11,
    'hercules-ci': 1,
    'numtide': 2,
    'canonical': 1001,
    'reMarkable': 201,
    'SkylineTechnologies': 2,
    'PyroNet': 10,
    'Emotion Labs': 30,
    'FlyingCircusIO': 30,
    'WEHI': 1001,
    'SatoshiLabs': 101,
    'siemens': 10001,
    'Infrastructure DBCDK': 5001,
    'ObsidianSystems': 51,
    'mnx-solutions': 11,
    'aws': 10001,
    'Strid Tech AB': 5,
    'opallabs': 11,
    'TestLab360': 2,
    'proxmox': 11,
    'Viasat, Inc.': 5001,
    'cyberus-technology': 11,
    'cachix': 2,
    'mlabs-haskell': 51,
    'Buzzvil': 51,
    'Edgeless Systems': 11,
    'helsinki-systems': 11,
    'red6 enterprise software': 51,
    'tiko Energy Solutions AG': 51,
    'dyte-io': 10,
    'O.S. Systems': 11,
    'Microsoft': 10001,
    'DB Netz AG': 10001,
    'simplerisk': 2,
    'Red Hat': 10001,
    'Esevo Tech': 51,
    'MercuryTechnologies': 11,
    'Silverfin': 51,
    'upsert-oy': 11,
    'shopware': 201,
    'replit': 51,
    'canary-technologies-corp': 51
}

df_filtered['Numb_empl'] = df_filtered['Contributor'].map(numb_empl)
df_filtered.tail(50)

#df_filtered.to_csv('top_100.csv', index=False)

In [3163]:
# Top 100 contributor 
#df_filtered.to_csv('top_100.csv')

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl
0,0,Private,101767,Other,Unknown,NaN
1,1,lip6,6833,Institution,"Paris, France",NaN
2,2,European Commission,2770,Institution,"Brussels, Belgium",NaN
3,3,sapcc,2761,Company,"Walldorf, Germany",1001.0
4,4,NTNU,2350,Institution,"Trondheim, Norway",NaN
...,...,...,...,...,...,...
96,96,shopware,35,Company,Germany,201.0
97,97,replit,33,Company,USA,51.0
98,98,Tokyo University of Agriculture and Technology,32,Institution,"Fuchū, Tokyo, Japan",NaN
99,99,canary-technologies-corp,32,Company,USA,51.0
100,100,[TBD],31,Other,Unknown,NaN

In [3275]:
#COMPANIES

df_filtered[df_filtered['Category'] == 'Company']
df_companies = df_filtered[df_filtered['Category'] == 'Company'].reset_index(drop=True)
df_companies.index = range(1, len(df_companies) + 1)

In [3277]:
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   50 non-null     int64
 1   Contributor  50 non-null     object
 2   count        50 non-null     int64
 3   Category     50 non-null     object
 4   Location     50 non-null     object
 5   Numb_empl    50 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [3279]:
df_companies['Numb_empl'].isnull().sum()
df_companies['Numb_empl'] = df_companies['Numb_empl'].fillna(1)

In [3281]:
df_companies['Numb_empl'] = df_companies['Numb_empl'].astype(int)

In [3285]:
df_companies_sorted = df_companies.sort_values(by='Numb_empl', ascending=False)
df_companies_sorted
#df_companies_sorted.to_csv('Companysize.csv')

In [3303]:
# Companysize

def company_size(Numb_empl):
    if Numb_empl < 20:
        return "micro"
    elif Numb_empl < 100:
        return "small"
    elif Numb_empl < 1000:
        return "medium"
    else:
        return "large"

In [3325]:
df_companies['Companysize'] = df_companies['Numb_empl'].apply(company_size)
df_companies = df_companies

In [3335]:
df_companies

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Contributor,count,Category,Location,Numb_empl,Companysize
0,0,0,0,sapcc,2761,Company,"Walldorf, Germany",1001,large
1,1,1,1,Global-e,976,Company,"Petach Tikwa, Isreal",501,medium
2,2,2,2,wirenboard,679,Company,"Moskau, Russland",51,small
3,3,3,3,ifm electronics,668,Company,"Essen, Germany",5001,large
4,4,4,4,Tweag,606,Company,"Paris, France",51,small
5,5,5,5,Qumulo,545,Company,"Seattle, USA",201,medium
6,6,6,6,ogion.cz,430,Company,"Brno, Czech Republic",30,small
7,7,7,7,Silverpond,394,Company,"Melbourne, Australia",11,micro
8,8,8,8,hercules-ci,343,Company,"Amsterdam, Netherlands",1,micro
9,9,9,9,numtide,280,Company,"Zurich, Switzerland",2,micro
10,10,10,10,canonical,261,Company,"London, United Kingdom",1001,large
11,11,11,11,SkylineTechnologies,259,Company,"Wisconsin, USA",2,micro
12,12,12,12,PyroNet,199,Company,"Kraków, Poland",1,micro
13,13,13,13,reMarkable,194,Company,"Oslo, Norway",201,medium
14,14,14,14,Emotion Labs,190,Company,"Moscow, Russia",30,small
15,15,15,15,FlyingCircusIO,189,Company,"Halle, Germany",30,small
16,16,16,16,WEHI,178,Company,"Melbourne, Australia",1001,large
17,17,17,17,SatoshiLabs,153,Company,"Prague, Czech Republic",101,medium
18,18,18,18,siemens,144,Company,"Munich, Germany",10001,large
19,19,19,19,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",5001,large
20,20,20,20,ObsidianSystems,122,Company,"Johannesburg, South Africa",51,small
21,21,21,21,mnx-solutions,122,Company,"Michigan, USA",11,micro
22,22,22,22,aws,106,Company,"Seattle, USA",10001,large
23,23,23,23,Strid Tech AB,101,Company,"Stockholm, Sweden",5,micro
24,24,24,24,opallabs,99,Company,"Portland, Oregon, USA",11,micro
25,25,25,25,TestLab360,93,Company,"Newstead, Queensland, Australia",2,micro
26,26,26,26,proxmox,76,Company,"Vienna, Austria",11,micro
27,27,27,27,cyberus-technology,71,Company,"Munich, Germany",11,micro
28,28,28,28,cachix,68,Company,"Bratislava, Slovakia",2,micro
29,29,29,29,mlabs-haskell,67,Company,United Kingdom,51,small
30,30,30,30,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",5001,large
31,31,31,31,Buzzvil,61,Company,"Seoul, South Korea",51,small
32,32,32,32,Edgeless Systems,56,Company,"Bochum, Germany",11,micro
33,33,33,33,helsinki-systems,54,Company,"Berlin, Deutschland",11,micro
34,34,34,34,red6 enterprise software,54,Company,"Munich, Germany",51,small
35,35,35,35,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",51,small
36,36,36,36,dyte-io,53,Company,"Bengaluru, India",10,micro
37,37,37,37,O.S. Systems,51,Company,"Florianópolis, Brazil",11,micro
38,38,38,38,Microsoft,45,Company,"Redmond, Washington, USA",10001,large
39,39,39,39,DB Netz AG,44,Company,"Frankfurt, Germany",10001,large
40,40,40,40,simplerisk,44,Company,"Austin, Texas, USA",2,micro
41,41,41,41,Tweag,43,Company,"Paris, France",51,small
42,42,42,42,Red Hat,43,Company,"Raleigh, North Carolina, USA",10001,large
43,43,43,43,Esevo Tech,37,Company,"Zurich, Switzerland",51,small
44,44,44,44,MercuryTechnologies,36,Company,"San Francisco, California, USA",11,micro
45,45,45,45,Silverfin,35,Company,"Ghent, Belgium",51,small
46,46,46,46,upsert-oy,35,Company,"Helsinki, Finland",11,micro
47,47,47,47,shopware,35,Company,"Schöppingen, Germany",201,medium
48,48,48,48,replit,33,Company,"San Francisco, California, USA",51,small
49,49,49,49,canary-technologies-corp,32,Company,"San Francisco, California, USA",51,small

In [3329]:
#df_companies.to_csv('Companies.csv')

In [3343]:
file_path1= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/Companies.csv'
df_companies= pd.read_csv(file_path1)
df_companies.head()

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl,Companysize
0,0,sapcc,2761,Company,"Walldorf, Germany",1001,large
1,1,Global-e,976,Company,"Petach Tikwa, Isreal",501,medium
2,2,wirenboard,679,Company,"Moskau, Russland",51,small
3,3,ifm electronics,668,Company,"Essen, Germany",5001,large
4,4,Tweag,606,Company,"Paris, France",51,small

In [3339]:
df_companies = df_companies.loc[:, ~df_companies.columns.str.contains('^Unnamed')]

,Contributor,count,Category,Location,Numb_empl,Companysize
0,sapcc,2761,Company,"Walldorf, Germany",1001,large
1,Global-e,976,Company,"Petach Tikwa, Isreal",501,medium
2,wirenboard,679,Company,"Moskau, Russland",51,small
3,ifm electronics,668,Company,"Essen, Germany",5001,large
4,Tweag,606,Company,"Paris, France",51,small
5,Qumulo,545,Company,"Seattle, USA",201,medium
6,ogion.cz,430,Company,"Brno, Czech Republic",30,small
7,Silverpond,394,Company,"Melbourne, Australia",11,micro
8,hercules-ci,343,Company,"Amsterdam, Netherlands",1,micro
9,numtide,280,Company,"Zurich, Switzerland",2,micro
10,canonical,261,Company,"London, United Kingdom",1001,large
11,SkylineTechnologies,259,Company,"Wisconsin, USA",2,micro
12,PyroNet,199,Company,"Kraków, Poland",1,micro
13,reMarkable,194,Company,"Oslo, Norway",201,medium
14,Emotion Labs,190,Company,"Moscow, Russia",30,small
15,FlyingCircusIO,189,Company,"Halle, Germany",30,small
16,WEHI,178,Company,"Melbourne, Australia",1001,large
17,SatoshiLabs,153,Company,"Prague, Czech Republic",101,medium
18,siemens,144,Company,"Munich, Germany",10001,large
19,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",5001,large
20,ObsidianSystems,122,Company,"Johannesburg, South Africa",51,small
21,mnx-solutions,122,Company,"Michigan, USA",11,micro
22,aws,106,Company,"Seattle, USA",10001,large
23,Strid Tech AB,101,Company,"Stockholm, Sweden",5,micro
24,opallabs,99,Company,"Portland, Oregon, USA",11,micro
25,TestLab360,93,Company,"Newstead, Queensland, Australia",2,micro
26,proxmox,76,Company,"Vienna, Austria",11,micro
27,cyberus-technology,71,Company,"Munich, Germany",11,micro
28,cachix,68,Company,"Bratislava, Slovakia",2,micro
29,mlabs-haskell,67,Company,United Kingdom,51,small
30,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",5001,large
31,Buzzvil,61,Company,"Seoul, South Korea",51,small
32,Edgeless Systems,56,Company,"Bochum, Germany",11,micro
33,helsinki-systems,54,Company,"Berlin, Deutschland",11,micro
34,red6 enterprise software,54,Company,"Munich, Germany",51,small
35,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",51,small
36,dyte-io,53,Company,"Bengaluru, India",10,micro
37,O.S. Systems,51,Company,"Florianópolis, Brazil",11,micro
38,Microsoft,45,Company,"Redmond, Washington, USA",10001,large
39,DB Netz AG,44,Company,"Frankfurt, Germany",10001,large
40,simplerisk,44,Company,"Austin, Texas, USA",2,micro
41,Tweag,43,Company,"Paris, France",51,small
42,Red Hat,43,Company,"Raleigh, North Carolina, USA",10001,large
43,Esevo Tech,37,Company,"Zurich, Switzerland",51,small
44,MercuryTechnologies,36,Company,"San Francisco, California, USA",11,micro
45,Silverfin,35,Company,"Ghent, Belgium",51,small
46,upsert-oy,35,Company,"Helsinki, Finland",11,micro
47,shopware,35,Company,"Schöppingen, Germany",201,medium
48,replit,33,Company,"San Francisco, California, USA",51,small
49,canary-technologies-corp,32,Company,"San Francisco, California, USA",51,small

In [3341]:
#df_companies.to_csv('Companies.csv')

In [3345]:
df_12

,Email,Timestamp,Contributor,Year,Month,Month_name
1646,user1843@anonymized.com,2024-10-31 23:58:47+00:00,None,2024,10,October
1647,user410@anonymized.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October
1648,user1846@anonymized.com,2024-10-31 23:51:10+00:00,None,2024,10,October
1649,user680@anonymized.com,2024-10-31 23:50:05+00:00,None,2024,10,October
1650,user1847@anonymized.com,2024-10-31 23:46:59+00:00,None,2024,10,October
...,...,...,...,...,...,...
146692,user148462@anonymized.com,2023-11-01 00:15:33+00:00,lip6,2023,11,November
146693,user148463@anonymized.com,2023-11-01 00:15:17+00:00,lip6,2023,11,November
146694,user148464@anonymized.com,2023-11-01 00:13:02+00:00,None,2023,11,November
146695,user148465@anonymized.com,2023-11-01 00:02:47+00:00,None,2023,11,November
146696,user148466@anonymized.com,2023-11-01 00:02:16+00:00,None,2023,11,November

In [3347]:
df_filtered

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl
0,0,Private,101767,Other,Unknown,NaN
1,1,lip6,6833,Institution,"Paris, France",NaN
2,2,European Commission,2770,Institution,"Brussels, Belgium",NaN
3,3,sapcc,2761,Company,"Walldorf, Germany",1001.0
4,4,NTNU,2350,Institution,"Trondheim, Norway",NaN
...,...,...,...,...,...,...
96,96,shopware,35,Company,Germany,201.0
97,97,replit,33,Company,USA,51.0
98,98,Tokyo University of Agriculture and Technology,32,Institution,"Fuchū, Tokyo, Japan",NaN
99,99,canary-technologies-corp,32,Company,USA,51.0
100,100,[TBD],31,Other,Unknown,NaN

In [3349]:
df_companies

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl,Companysize
0,0,sapcc,2761,Company,"Walldorf, Germany",1001,large
1,1,Global-e,976,Company,"Petach Tikwa, Isreal",501,medium
2,2,wirenboard,679,Company,"Moskau, Russland",51,small
3,3,ifm electronics,668,Company,"Essen, Germany",5001,large
4,4,Tweag,606,Company,"Paris, France",51,small
5,5,Qumulo,545,Company,"Seattle, USA",201,medium
6,6,ogion.cz,430,Company,"Brno, Czech Republic",30,small
7,7,Silverpond,394,Company,"Melbourne, Australia",11,micro
8,8,hercules-ci,343,Company,"Amsterdam, Netherlands",1,micro
9,9,numtide,280,Company,"Zurich, Switzerland",2,micro
10,10,canonical,261,Company,"London, United Kingdom",1001,large
11,11,SkylineTechnologies,259,Company,"Wisconsin, USA",2,micro
12,12,PyroNet,199,Company,"Kraków, Poland",1,micro
13,13,reMarkable,194,Company,"Oslo, Norway",201,medium
14,14,Emotion Labs,190,Company,"Moscow, Russia",30,small
15,15,FlyingCircusIO,189,Company,"Halle, Germany",30,small
16,16,WEHI,178,Company,"Melbourne, Australia",1001,large
17,17,SatoshiLabs,153,Company,"Prague, Czech Republic",101,medium
18,18,siemens,144,Company,"Munich, Germany",10001,large
19,19,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",5001,large
20,20,ObsidianSystems,122,Company,"Johannesburg, South Africa",51,small
21,21,mnx-solutions,122,Company,"Michigan, USA",11,micro
22,22,aws,106,Company,"Seattle, USA",10001,large
23,23,Strid Tech AB,101,Company,"Stockholm, Sweden",5,micro
24,24,opallabs,99,Company,"Portland, Oregon, USA",11,micro
25,25,TestLab360,93,Company,"Newstead, Queensland, Australia",2,micro
26,26,proxmox,76,Company,"Vienna, Austria",11,micro
27,27,cyberus-technology,71,Company,"Munich, Germany",11,micro
28,28,cachix,68,Company,"Bratislava, Slovakia",2,micro
29,29,mlabs-haskell,67,Company,United Kingdom,51,small
30,30,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",5001,large
31,31,Buzzvil,61,Company,"Seoul, South Korea",51,small
32,32,Edgeless Systems,56,Company,"Bochum, Germany",11,micro
33,33,helsinki-systems,54,Company,"Berlin, Deutschland",11,micro
34,34,red6 enterprise software,54,Company,"Munich, Germany",51,small
35,35,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",51,small
36,36,dyte-io,53,Company,"Bengaluru, India",10,micro
37,37,O.S. Systems,51,Company,"Florianópolis, Brazil",11,micro
38,38,Microsoft,45,Company,"Redmond, Washington, USA",10001,large
39,39,DB Netz AG,44,Company,"Frankfurt, Germany",10001,large
40,40,simplerisk,44,Company,"Austin, Texas, USA",2,micro
41,41,Tweag,43,Company,"Paris, France",51,small
42,42,Red Hat,43,Company,"Raleigh, North Carolina, USA",10001,large
43,43,Esevo Tech,37,Company,"Zurich, Switzerland",51,small
44,44,MercuryTechnologies,36,Company,"San Francisco, California, USA",11,micro
45,45,Silverfin,35,Company,"Ghent, Belgium",51,small
46,46,upsert-oy,35,Company,"Helsinki, Finland",11,micro
47,47,shopware,35,Company,"Schöppingen, Germany",201,medium
48,48,replit,33,Company,"San Francisco, California, USA",51,small
49,49,canary-technologies-corp,32,Company,"San Francisco, California, USA",51,small

In [3375]:
# Merge both DataFrames on the 'Company' column, keeping all rows from df_filtered
top_100_merged = pd.merge(df_filtered, df_companies[['Contributor', 'Location', 'Companysize']], on='Contributor', how='left', suffixes=('', '_from_companies'))

# Update only the 'Location' column with values from df_companies
top_100_merged['Location'] = top_100_merged['Location_from_companies'].combine_first(merged_df['Location'])
top_100_merged = top_100_merged.drop(columns=['Location_from_companies'])
top_100_merged.head(50)

,Unnamed: 0,Contributor,count,Category,Location,Numb_empl,Companysize
0,0,Private,101767,Other,NaN,NaN,NaN
1,1,lip6,6833,Institution,"Wisconsin, USA",NaN,NaN
2,2,European Commission,2770,Institution,NaN,NaN,NaN
3,3,sapcc,2761,Company,"Walldorf, Germany",1001.0,large
4,4,NTNU,2350,Institution,NaN,NaN,NaN
5,5,UC Berkeley,2015,Institution,"Wisconsin, USA",NaN,NaN
6,6,UESTC,1884,Institution,NaN,NaN,NaN
7,7,Inria,1699,Institution,"Wisconsin, USA",NaN,NaN
8,8,Global-e,976,Company,"Petach Tikwa, Isreal",501.0,medium
9,9,mathrills,801,Other,"Wisconsin, USA",NaN,NaN
10,10,Sammilani Mahavidyalaya,731,Institution,"Wisconsin, USA",NaN,NaN
11,11,cz.nic labs CZ-NIC,712,Other,NaN,NaN,NaN
12,12,wirenboard,679,Company,"Moskau, Russland",51.0,small
13,13,ifm electronics,668,Company,"Essen, Germany",5001.0,large
14,14,flyingcircusio,610,Other,"Melbourne, Australia",NaN,NaN
15,15,Tweag,606,Company,"Paris, France",51.0,small
16,15,Tweag,606,Company,"Paris, France",51.0,small
17,16,Qumulo,545,Company,"Seattle, USA",201.0,medium
18,17,edgelesssys,523,Other,NaN,NaN,NaN
19,18,Programvareverkstedet,487,Institution,NaN,NaN,NaN
20,19,deepin community,457,Institution,NaN,NaN,NaN
21,20,ogion.cz,430,Company,"Brno, Czech Republic",30.0,small
22,21,Silverpond,394,Company,"Melbourne, Australia",11.0,micro
23,22,Karesz-Foundation,390,Other,NaN,NaN,NaN
24,23,"Independent + Aalto U, former HSE & Skoltech",366,Institution,NaN,NaN,NaN
25,24,Student Epitech 2028,361,Institution,NaN,NaN,NaN
26,25,hercules-ci,343,Company,"Amsterdam, Netherlands",1.0,micro
27,26,Freelancer,334,Other,NaN,NaN,NaN
28,27,UFOP,297,Institution,NaN,NaN,NaN
29,28,Debian ⊕ NixOS,283,Institution,NaN,NaN,NaN
30,29,numtide,280,Company,"Zurich, Switzerland",2.0,micro
31,30,Independent Contributor,262,Other,"Wisconsin, USA",NaN,NaN
32,31,canonical,261,Company,"London, United Kingdom",1001.0,large
33,32,SkylineTechnologies,259,Company,"Wisconsin, USA",2.0,micro
34,33,NixOS,210,Institution,NaN,NaN,NaN
35,34,PyroNet,199,Company,"Kraków, Poland",10.0,micro
36,35,reMarkable,194,Company,"Oslo, Norway",201.0,medium
37,36,Emotion Labs,190,Company,"Moscow, Russia",30.0,small
38,37,FlyingCircusIO,189,Company,"Halle, Germany",30.0,small
39,38,Chalmers University of Technology,183,Institution,NaN,NaN,NaN
40,39,WEHI,178,Company,"Melbourne, Australia",1001.0,large
41,40,nBits Labs | ex-Coinhako,155,Other,NaN,NaN,NaN
42,41,SatoshiLabs,153,Company,"Prague, Czech Republic",101.0,medium
43,42,MESR,151,Institution,NaN,NaN,NaN
44,43,LAAS-CNRS,148,Institution,NaN,NaN,NaN
45,44,siemens,144,Company,"Munich, Germany",10001.0,large
46,45,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",5001.0,large
47,46,ObsidianSystems,122,Company,"Johannesburg, South Africa",51.0,small
48,47,mnx-solutions,122,Company,"Michigan, USA",11.0,micro
49,48,Freelance,113,Other,NaN,NaN,NaN

In [3357]:
# merge

merged_df = df_12.merge(top_100_merged, on='Contributor', how='left')
merged_df.head(80)

,Email,Timestamp,Contributor,Year,Month,Month_name,Unnamed: 0,count,Category,Location,Numb_empl,Companysize
0,user1843@anonymized.com,2024-10-31 23:58:47+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
1,user410@anonymized.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October,32.0,259.0,Company,"Wisconsin, USA",2.0,micro
2,user1846@anonymized.com,2024-10-31 23:51:10+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
3,user680@anonymized.com,2024-10-31 23:50:05+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
4,user1847@anonymized.com,2024-10-31 23:46:59+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
75,user1917@anonymized.com,2024-10-31 19:36:08+00:00,Silverpond,2024,10,October,21.0,394.0,Company,"Melbourne, Australia",11.0,micro
76,user1918@anonymized.com,2024-10-31 19:35:13+00:00,UC Berkeley,2024,10,October,5.0,2015.0,Institution,"Wisconsin, USA",NaN,NaN
77,user1920@anonymized.com,2024-10-31 19:28:48+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
78,user1921@anonymized.com,2024-10-31 19:25:29+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
79,user1922@anonymized.com,2024-10-31 19:15:29+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN

# anonymize mails

merged_df['Email'] = merged_df['Email'].fillna('')
emails = merged_df['Email']
anonymized_emails = [f"user{i+1}@anonymized.com" for i in range(len(emails))]
merged_df['Email'] = anonymized_emails

In [3153]:
#merged_df.to_csv('merged_df.csv')

In [3359]:
category_counts = merged_df['Companysize'].value_counts()
category_counts

Companysize
small     4436
large     3784
micro     2446
medium     774
Name: count, dtype: int64

In [3361]:
merged_df.insert(0, 'Number', range(1, len(merged_df) + 1))

In [3363]:
merged_df

,Number,Email,Timestamp,Contributor,Year,Month,Month_name,Unnamed: 0,count,Category,Location,Numb_empl,Companysize
0,1,user1843@anonymized.com,2024-10-31 23:58:47+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
1,2,user410@anonymized.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October,32.0,259.0,Company,"Wisconsin, USA",2.0,micro
2,3,user1846@anonymized.com,2024-10-31 23:51:10+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
3,4,user680@anonymized.com,2024-10-31 23:50:05+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
4,5,user1847@anonymized.com,2024-10-31 23:46:59+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146879,146880,user148462@anonymized.com,2023-11-01 00:15:33+00:00,lip6,2023,11,November,1.0,6833.0,Institution,"Wisconsin, USA",NaN,NaN
146880,146881,user148463@anonymized.com,2023-11-01 00:15:17+00:00,lip6,2023,11,November,1.0,6833.0,Institution,"Wisconsin, USA",NaN,NaN
146881,146882,user148464@anonymized.com,2023-11-01 00:13:02+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN,NaN
146882,146883,user148465@anonymized.com,2023-11-01 00:02:47+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN,NaN
146883,146884,user148466@anonymized.com,2023-11-01 00:02:16+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN,NaN

In [3365]:
#merged_df.to_csv('merged_df.csv')

In [3373]:
merged_df[merged_df['Contributor'] == 'sapcc']['Contributor'].value_counts()

Contributor
sapcc    2761
Name: count, dtype: int64

In [3383]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

target_year = 2024
target_month = 10
                                                                    # Identify contributors in October 2024 & counts
october_df = df[(df['Timestamp'].dt.year == target_year) & 
                (df['Timestamp'].dt.month == target_month)]
october_contributors_counts = october_df.groupby('Contributor').size()

                                                                    # Identify contributors in months before October 2024
prior_contributors = df[(df['Timestamp'].dt.year < target_year) | 
                        ((df['Timestamp'].dt.year == target_year) & 
                         (df['Timestamp'].dt.month < target_month))]['Contributor'].unique()
                                                                    # Filter contributors who are only in October 2024
new_contributors_counts = october_contributors_counts[~october_contributors_counts.index.isin(prior_contributors)]


new_contributors_df = new_contributors_counts.reset_index()
new_contributors_df.columns = ['Contributor', 'Count']

new_contributors_df

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/4097714563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Timestamp'] = pd.to_datetime(df['Timestamp'])

                                    Contributor  Count
0                                  42 Angoulême      1
1                                          AGBV      2
2                           Cloud PBX Solutions      1
3                            Critical TechWorks      1
4                               Crosstwine Labs      1
5                                       Dropbox      1
6                                    FloQastInc      1
7                                   GoChromatic      1
8                                          GoTo      2
9                                   IBM Quantum      1
10                                     MetaCell      2
11        Professional destroyer of git history      1
12                                Rhodes Island      2
13                                     SESARLab      1
14  Student  PoliMi, Jr. Software Dev  Euclidea      1
15                  Student at ZSEII w Sosnowcu      2
16                            Temple University      1
17                           TudbuT Development      1
18                            Valletta Ventures      3
19                                    Zoolatech      1
20                                    bitwarden      1
21                                     deepmind      1
22                              hosting.de GmbH      3
23                                     l33tname      2
24                                  mobilistics      1
25                                     nginxinc      1
26                                 open to work      1
27                      pete.pericksongmail.com      2
28                                unikie tiiuae      2
29                           wazo-communication      1

In [3385]:
# Define update data with corrected typos
update_data = {
    '42 Angoulême': {'Category': 'Institution', 'Location': 'Angoulême, France'},
    'Critical TechWorks': {'Category': 'Company', 'Location': 'Lisbon, Portugal', 'Numb_empl': 1001},
    'Dropbox': {'Category': 'Company', 'Location': 'San Francisco, California, United States', 'Numb_empl': 2500},
    'FloQast Inc': {'Category': 'Company', 'Location': 'Los Angeles, California, United States', 'Numb_empl': 501},
    'GoChromatic': {'Category': 'Company', 'Location': 'San Francisco, California, United States', 'Numb_empl': 25},
    'GoTo': {'Category': 'Company', 'Location': 'Boston, Massachusetts, United States', 'Numb_empl': 3001},
    'IBM Quantum': {'Category': 'Company', 'Location': 'Armonk, New York, United States', 'Numb_empl': 10000},
    'MetaCell': {'Category': 'Company', 'Location': 'Cambridge, Massachusetts, United States', 'Numb_empl': 21},
    'SESARLab': {'Category': 'Institution'},
    'Valletta Ventures': {'Category': 'Company', 'Location': 'United Kingdom', 'Numb_empl': 2},
    'Zoolatech': {'Category': 'Company', 'Location': 'Palo Alto, California, United States', 'Numb_empl': 200},
    'bitwarden': {'Category': 'Company', 'Location': 'Santa Barbara, California, United States', 'Numb_empl': 100},
    'deepmind': {'Category': 'Company', 'Location': 'London, United Kingdom', 'Numb_empl': 1000},
    'hosting.de GmbH': {'Category': 'Company', 'Location': 'Aachen, Germany', 'Numb_empl': 51},
    'mobilistics': {'Category': 'Company', 'Location': 'Dortmund, Nordrhein-Westfalen', 'Numb_empl': 11},
    'nginxinc': {'Category': 'Company', 'Location': 'San Francisco, California, United States', 'Numb_empl': 200},
    'unikie tiiuae': {'Category': 'Company', 'Location': 'Tampere, Finland', 'Numb_empl': 500},
    'wazo-communication': {'Category': 'Company', 'Location': 'France', 'Numb_empl': 99},
}

# Define the update function
def update_multiple_contributors(df, updates):
    for contributor, values in updates.items():
        # Check if the contributor exists in the DataFrame
        if contributor in df['Contributor'].values:
            # Update each field only if it exists in the values dictionary
            if 'Category' in values:
                df.loc[df['Contributor'] == contributor, 'Category'] = values['Category']
            if 'Location' in values:
                df.loc[df['Contributor'] == contributor, 'Location'] = values['Location']
            if 'Numb_empl' in values:
                df.loc[df['Contributor'] == contributor, 'Numb_empl'] = values['Numb_empl']
    return df

# Apply updates to merged_df
merged_df = update_multiple_contributors(merged_df, update_data)
merged_df

,Number,Email,Timestamp,Contributor,Year,Month,Month_name,Unnamed: 0,count,Category,Location,Numb_empl,Companysize
0,1,user1843@anonymized.com,2024-10-31 23:58:47+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
1,2,user410@anonymized.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October,32.0,259.0,Company,"Wisconsin, USA",2.0,micro
2,3,user1846@anonymized.com,2024-10-31 23:51:10+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
3,4,user680@anonymized.com,2024-10-31 23:50:05+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
4,5,user1847@anonymized.com,2024-10-31 23:46:59+00:00,None,2024,10,October,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146879,146880,user148462@anonymized.com,2023-11-01 00:15:33+00:00,lip6,2023,11,November,1.0,6833.0,Institution,"Wisconsin, USA",NaN,NaN
146880,146881,user148463@anonymized.com,2023-11-01 00:15:17+00:00,lip6,2023,11,November,1.0,6833.0,Institution,"Wisconsin, USA",NaN,NaN
146881,146882,user148464@anonymized.com,2023-11-01 00:13:02+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN,NaN
146882,146883,user148465@anonymized.com,2023-11-01 00:02:47+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN,NaN
146883,146884,user148466@anonymized.com,2023-11-01 00:02:16+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN,NaN

In [3391]:
# check update
contributors_to_check = ['42 Angoulême', 'Dropbox', 'GoTo', 'deepmind', 'unikie tiiuae']
merged_df[merged_df['Contributor'].isin(contributors_to_check)]

,Number,Email,Timestamp,Contributor,Year,Month,Month_name,Unnamed: 0,count,Category,Location,Numb_empl,Companysize
607,608,user2478@anonymized.com,2024-10-30 10:21:58+00:00,42 Angoulême,2024,10,October,NaN,NaN,Institution,"Angoulême, France",NaN,NaN
961,962,user2842@anonymized.com,2024-10-29 12:27:29+00:00,GoTo,2024,10,October,NaN,NaN,Company,"Boston, Massachusetts, United States",3001.0,NaN
962,963,user2843@anonymized.com,2024-10-29 12:27:04+00:00,GoTo,2024,10,October,NaN,NaN,Company,"Boston, Massachusetts, United States",3001.0,NaN
2085,2086,user3751@anonymized.com,2024-10-26 16:54:05+00:00,unikie tiiuae,2024,10,October,NaN,NaN,Company,"Tampere, Finland",500.0,NaN
2086,2087,user4037@anonymized.com,2024-10-26 16:51:38+00:00,unikie tiiuae,2024,10,October,NaN,NaN,Company,"Tampere, Finland",500.0,NaN
5188,5189,user7183@anonymized.com,2024-10-18 09:26:51+00:00,deepmind,2024,10,October,NaN,NaN,Company,"London, United Kingdom",1000.0,NaN
9585,9586,user11158@anonymized.com,2024-10-02 08:26:02+00:00,Dropbox,2024,10,October,NaN,NaN,Company,"San Francisco, California, United States",2500.0,NaN

In [3393]:
#merged_df.to_csv('merged_df.csv')