In [126]:
import pandas as pd
import numpy as np

In [696]:
file_path= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/df_new.csv'
df= pd.read_csv(file_path)
df

,Unnamed: 0,Email,Timestamp,Company
0,0,gaetan@glepage.com,2024-11-02T22:59:15Z,Inria
1,1,mweinelt@users.noreply.github.com,2024-11-02T22:42:26Z,NaN
2,2,9713184+wegank@users.noreply.github.com,2024-11-02T22:29:01Z,@lip6
3,3,pyrox@pyrox.dev,2024-11-02T22:24:44Z,PyroNet
4,4,9713184+wegank@users.noreply.github.com,2024-11-02T22:19:08Z,@lip6
...,...,...,...,...
28439,995,nickcao@nichi.co,2024-08-22T20:57:26Z,NaN
28440,996,nickcao@nichi.co,2024-08-22T20:55:38Z,NaN
28441,997,nickcao@nichi.co,2024-08-22T20:55:12Z,NaN
28442,998,mail@maralorn.de,2024-08-22T20:54:35Z,NaN
28443,999,nickcao@nichi.co,2024-08-22T20:54:28Z,NaN

In [698]:
df.duplicated().sum()

0

In [700]:
#df= df.drop_duplicates()

In [703]:
df['Company'] = df['Company'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
df['Company'] = df['Company'].str.strip()

In [705]:
#df['Company'].unique()

In [707]:
df['Company'].value_counts()

Company
UESTC                      823
lip6                       786
Inria                      594
UC Berkeley                538
NTNU                       503
                          ...
Trier University / DFKI      1
onarray                      1
Juspay                       1
identinet GmbH               1
Google                       1
Name: count, Length: 411, dtype: int64

In [709]:
#df['Company'].unique()

In [711]:
df.loc[:, 'Company'] = df['Company'].replace(['no', None, np.nan], None)

In [713]:
df['Company'] = df['Company'].fillna("None")   # No company= None als string

In [715]:
none_count_exact = (df['Company'] == 'None').sum()
none_count_exact

20293

In [717]:
df_sorted = df.sort_values(by='Timestamp', ascending=False).reset_index(drop=True)
df_sorted

,Unnamed: 0,Email,Timestamp,Company
0,0,pbsds@hotmail.com,2024-11-05T19:45:17Z,NTNU
1,1,pbsds@hotmail.com,2024-11-05T19:37:59Z,NTNU
2,2,pbsds@hotmail.com,2024-11-05T19:32:27Z,NTNU
3,3,pbsds@hotmail.com,2024-11-05T19:23:10Z,NTNU
4,4,me@0upti.me,2024-11-05T18:23:38Z,None
...,...,...,...,...
28439,938,enzime@users.noreply.github.com,2022-10-07T14:42:18Z,enzime-enterprises
28440,222,aaronchall@yahoo.com,2022-07-14T05:26:00Z,None
28441,445,sandro.jaeckel@gmail.com,2022-06-22T19:01:40Z,sapcc
28442,1562,rasmus@precenth.eu,2022-04-02T19:42:11Z,klarna
28443,770,doron.behar@gmail.com,2021-11-14T18:06:30Z,mathrills

In [719]:
# savety save
#df_sorted.to_csv('df_sorted_13')

"""df_duplicates = pd.merge(df,df10, how= 'inner', indicator=True)
if not df_duplicates.empty:
    print("yes")
else:
    print("no")"""

In [722]:
df_sorted['Timestamp'] = pd.to_datetime(df_sorted['Timestamp'])
df_sorted['year'] = df_sorted['Timestamp'].dt.year
df_sorted['month'] = df_sorted['Timestamp'].dt.month
df_sorted

,Unnamed: 0,Email,Timestamp,Company,year,month
0,0,pbsds@hotmail.com,2024-11-05 19:45:17+00:00,NTNU,2024,11
1,1,pbsds@hotmail.com,2024-11-05 19:37:59+00:00,NTNU,2024,11
2,2,pbsds@hotmail.com,2024-11-05 19:32:27+00:00,NTNU,2024,11
3,3,pbsds@hotmail.com,2024-11-05 19:23:10+00:00,NTNU,2024,11
4,4,me@0upti.me,2024-11-05 18:23:38+00:00,None,2024,11
...,...,...,...,...,...,...
28439,938,enzime@users.noreply.github.com,2022-10-07 14:42:18+00:00,enzime-enterprises,2022,10
28440,222,aaronchall@yahoo.com,2022-07-14 05:26:00+00:00,None,2022,7
28441,445,sandro.jaeckel@gmail.com,2022-06-22 19:01:40+00:00,sapcc,2022,6
28442,1562,rasmus@precenth.eu,2022-04-02 19:42:11+00:00,klarna,2022,4
28443,770,doron.behar@gmail.com,2021-11-14 18:06:30+00:00,mathrills,2021,11

In [692]:
count_2023 = (df_sorted['year'] == 2023).sum()
count_2023

58

In [694]:
"""df_duplicates = pd.merge(df,df_new, how= 'inner', indicator=True)
if not df_duplicates.empty:
    print("yes")
else:
    print("no")"""

'df_duplicates = pd.merge(df,df_new, how= \'inner\', indicator=True)\nif not df_duplicates.empty:\n    print("yes")\nelse:\n    print("no")'