In [1940]:
import pandas as pd
import numpy as np

In [2306]:
file_path= '/Users/ironhack/Documents/GitHub/NixOs-Analysis/df_new.csv'
df= pd.read_csv(file_path)
df

,Unnamed: 0,Email,Timestamp,Company
0,0,gaetan@glepage.com,2024-11-02T22:59:15Z,Inria
1,1,mweinelt@users.noreply.github.com,2024-11-02T22:42:26Z,NaN
2,2,9713184+wegank@users.noreply.github.com,2024-11-02T22:29:01Z,@lip6
3,3,pyrox@pyrox.dev,2024-11-02T22:24:44Z,PyroNet
4,4,9713184+wegank@users.noreply.github.com,2024-11-02T22:19:08Z,@lip6
...,...,...,...,...
151898,4881,git@stig.io,2023-10-10T09:57:13Z,NaN
151899,4886,git@stig.io,2023-10-10T09:57:12Z,NaN
151900,4890,git@stig.io,2023-10-10T09:57:11Z,NaN
151901,4894,git@stig.io,2023-10-10T09:57:10Z,NaN
151902,4899,git@stig.io,2023-10-10T09:57:09Z,NaN

In [2308]:
# cleaning columns 
df.rename(columns={'Company':'Contributor'}, inplace=True)
df.drop(columns=['Unnamed: 0'], inplace=True)

In [2310]:
df.duplicated().sum()

0

In [2312]:
#df= df.drop_duplicates()

In [2314]:
df['Contributor'] = df['Contributor'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
df['Contributor'] = df['Contributor'].str.strip()

In [2318]:
df['Contributor'].value_counts().head()

Contributor
lip6                   7522
sapcc                  2863
European Commission    2825
NTNU                   2412
UC Berkeley            2083
Name: count, dtype: int64

In [2320]:
df['Contributor'].unique()

/opt/anaconda3/lib/python3.12/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

array(['Inria', nan, 'lip6', 'PyroNet', 'Freelancer', 'sapcc', 'numtide',
       'mathrills', 'hetzneronline', 'bitrise-io',
       'Sammilani Mahavidyalaya', 'flyingcircusio', 'newrelic',
       'European Commission', 'voltrondata', 'UFOP', 'UESTC',
       'Stealth Company', 'Software Engineer ifm', 'Freelance',
       'Lemonilo', 'no', 'Compass, Inc.',
       'Tokyo University of Agriculture and Technology', 'Strid Tech AB',
       'UC Berkeley', 'Emotion Labs', 'NextQuestion LLC', 'AMTSupport',
       'NTNU', 'Coding For Fun', 'SkylineTechnologies',
       'Karesz-Foundation', 'slab', 'FlyingCircusIO', 'wirenboard',
       'University of Iowa', 'Silverpond', 'g-script', 'nyantec',
       'Programvareverkstedet', 'cyberus-technology', 'Tweag', 'alugha',
       'Qumulo', 'cohere-ai', 'TU Graz', 'upsert-oy', 'n8henrie.com',
       'Independent + Aalto U, former HSE & Skoltech', 'LAAS-CNRS',
       'deepin community', 'cz.nic labs CZ-NIC', 'Red Hat',
       'Self-employed, Apache Software Foundation', 'sportradar',
       'Microsoft Norway', 'datakami', 'Infrastructure DBCDK', 'menzelit',
       'edgelesssys', 'channable', 'ObsidianSystems', 'Intel',
       'eiicon-company', 'mlabs-haskell', 'reMarkable',
       'Helsinki Systems GmbH', 'Wavelens', 'hercules-ci',
       'Edgeless Systems', 'secunet', 'RawkodeAcademy', 'NixOS',
       'Epic Games / Mediatonic', 'fortx', 'sureapp',
       'Vrije Universiteit Brussel', 'dd-ix, tlm-solutions',
       'sensible.io', 'ClickHouse', 'Student caltech', 'WEHI',
       'UC Santa Barbara', 'Microsoft', 'FloQastInc', 'coding-and-typing',
       'Critical TechWorks', 'neodyme-labs', 'basquevolt', 'FeltMC',
       'Professional destroyer of git history', 'ONERA',
       'up² | upsquared', 'Oslandia', 'DeterminateSystems',
       'controlplaneio', 'curried-software', 'Echelon Insights',
       'mnx-solutions', 'microsoft', '42 Angoulême', 'Crosstwine Labs',
       'https://www.global-e.com/', 'Faerie-Dust', 'Possehl Analytics',
       'University of Chicago', 'HSE FCS AMI', 'beeper (Automattic)',
       'proxmox', 'pete.pericksongmail.com', 'google', 'tweag',
       'Outskirts Labs', 'Co-Founder SatoshiLabs', 'Nix.How',
       'helsinki-systems', 'GoTo', 'ozonru ozontech', 'Valletta Ventures',
       'Nix The Systems',
       'TeaClientMC Editify Cordevall Minecraft-essentials', 'ogion.cz',
       'finsit  Wolters Kluwer', 'Enflick', 'VI BRAND STUDIOS', 'HeyJobs',
       'Télécom Paris', 'Self-Employed Consultant', 'charmbracelet',
       'Chaitsa', 'undefined', 'bitwarden', 'Zühlke Engineering GmbH',
       'HumanFirst.ai', 'Carnegie Mellon University', 'AGBV',
       'OPAL-RT Germany', 'Self employed', '7mind', 'unikie tiiuae',
       'Rhodes Island', 'Besançon Hospital', 'canonical', 'opallabs',
       'GoChromatic', 'Student, KTH (Royal Institute of Technology)',
       'IBM Quantum', 'hosting.de GmbH', 'University of Groningen',
       'nginxinc', 'aristanetworks', 'MercuryTechnologies',
       'Friedrich Schiller University Jena', 'relaixnet fem nixos', 'CEA',
       'Toitū Te Whenua Land Information New Zealand', 'BravoBike GmbH',
       'Gabe Dunn Dev gabedunn', 'zulip', 'Icinga',
       'tiko Energy Solutions AG', 'divisionsinc', 'schemamap', 'cat',
       'Holmusk', 'canva', 'MEDIFOX DAN GmbH',
       'Technische Universität München', 'open to work', 'mobilistics',
       'codedownio', 'Swiss Data Science Center Zurich',
       'Machine Intelligence Research Institute', 'Kaspersky',
       'University of Cambridge', 'Adfinis AG', 'memfault',
       'wealthsimple', 'DevOps  Orness / IbanFirst', 'Genki',
       'VeganHacktivists', 'Joynetiks', 'homedepot', 'Debian ⊕ NixOS',
       'Xiamen University', 'grafbase', 'Student', 'Xidian University',
       'https://mercury.com', 'National University of Singapore',
       'Zoolatech', 'Northeastern University', 'Student Epitech 2028',
       'Silverfin', 'wazo-communication', 'Aviture', 'deepmind',
       'TudbuT Development', 'prisma', 'klarna',
       'Peter the Great St.Petersburg Polytechnic University (SPbPU)',
       'cachix', 'NVIDIA', 'DESY', 'nextcloud-gmbh', 'Hua University',
       'Flying Circus Internet Operations GmbH',
       'PhD Student at Télécom Paris // Self employed consultant',
       'Nokia', 'l33tname', 'Northwestern University',
       'Student  PoliMi, Jr. Software Dev  Euclidea', 'slackapi',
       'Shanghai Jiao Tong University', 'Flox', 'jsz4n',
       'MESR, Luxembourg', '/dev/null', 'University of Tübingen and Bonn',
       'SiriusXM (contractor)', 'DB Netz AG', 'fleek-network', 'cmdscale',
       'Strata Research', 'die-tageszeitung', 'Metaswitch | Microsoft',
       'FAU Erlangen-Nürnberg', 'DevInsideYou',
       'Student at ZSEII w Sosnowcu', 'enzime-enterprises',
       'My own consultancy', 'OroraTech', 'canary-technologies-corp',
       'University of Padova', 'joinhonor', 'SESARLab',
       'nBits Labs | ex-Coinhako', 'Temple University', 'Dropbox',
       'Inventorum  shore-gmbh', 'Work From Moon',
       'Indian Institute of Science', 'finegrain', 'Qorvo', 'Risk.Ident',
       'A University, An IT Firm', 'Shopify', 'sendecomp',
       'Unemployed, make an offer!', 'llvm', 'juspay', 'teamniteo',
       'Trier University / DFKI', 'onarray', 'Juspay', 'identinet GmbH',
       'TestLab360', 'NewRelic', 'DuskSystems',
       'Chalmers University of Technology', 'Kurz Kurz Design (China)',
       'understand-ai', 'Thomas Computer Industries', 'mikethai.dev',
       'Caido', 'crowd-ai', 'ATCO Electric',
       'Apotheek Molleman De Coster', 'go-vikunja', 'glasswing-dev',
       'system76', 'PhD, Geology', 'Chongqing University', 'stmcyber',
       'siemens', 'jetify-com', 'upside-services', 'DryFi', 'cognitedata',
       'tidbcloud tikv PingCAP', 'ngrok, wobscale', 'smaxtec',
       'Mr. Henry', 'Cloudflare', 'Yale University', 'Buzzvil',
       'RTU MIREA InfoSec', 'STMCyber', 'Beihang University', 'Firecrawl',
       'Analog-Labs', 'Amazon', 'importantimport', 'juicedata', 'grafana',
       'Independent Contributor', 'inovex', 'Hentioe',
       'Hasso Plattner Institut',
       'Site Reliability Engineer pinax-network', 'Twingate Inc.',
       'Red Hat, Inc.', 'Under Empire', 'FuelLabs', 'yandex && tvlfyi',
       'Information Engineers', 'platformsh', 'aws', 'https://ntnu.edu/',
       'WithSecure', 'VMware', 'Cabiri',
       'University of California, Berkeley',
       'Universidade Tecnológica Federal do Paraná', 'AG Products',
       'VeriFIT', 'X (formerly Google X)', 'lexe-app',
       'Balmelli Analog & Digital', 'coq math-comp LPCIC',
       'Tweag (by Modus Create)', 'Czech Technical University in Prague',
       'flox', 'Well Typed LLP', 'SECO Mind',
       'Technology Innovation Institute', 'tinygo-org', 'O.S. Systems',
       'ZIB & TUB', 'Graz University of Technology', 'Viasat, Inc.',
       'Wiredcraft', 'Monzo Bank', 'Cloud PBX Solutions', 'FOP-2324',
       'Benaco', 'companyzero', 'cabify', 'Radboud University',
       'MetaCell', 'GRICAD/OAR Team', 'Seed-Up',
       'Max Planck Institute for Informatics', 'TikTok', 'staticweb-io',
       'TU Dresden', 'CodeIntelligenceTesting', 'Factbird', 'CooperUnion',
       'FreesmTeam', 'Raf Gemmail', 'lichess.org', 'CodeWeavers',
       'Bit4id S.r.l', 'dreadmaw-industries', 'terminusdb vectorlink-ai',
       'Two Sigma', 'leboncoin', 'University of São Paulo', 'Sky UK',
       'Launch Platform', 'code-supply', 'Etraveli Group AB',
       '/dev/memes', 'vpsfreecz', 'kotify', 'Wuhan University',
       'RiskIdent', 'Beijing Institute of Technology',
       'JWP Consulting GK', '/run/qaidvoid.sock',
       'IT University of Copenhagen', 'SSV Software Systems GmbH',
       'the vision and the enigma', 'Volkswohl Bund Versicherungen',
       'S3NS (Thales x Google)', 'trivago', 'University of Manchester',
       'UK Research and Innovation / STFC',
       'Contemporary Amperex Technology Hungary Kft.', 'Reed College',
       'colearnhq', 'Executive Chefs', 'Sanico Software', 'TZoNE',
       'metabase', 'VertexInc', 'Pearson VUE', 'vector-im',
       'Student at KIT', 'SUSE Linux GmbH', 'efabless', 'replit',
       'Ctrl-D', 'voltusdev', 'BDT Holland', 'Speak-Up-Now', 'denicEG',
       'timeline-holdings',
       'Red Oak Consulting & Services for IT GmbH & Co. KG', 'neuedev IT',
       'CCAM', 'Pionix', 'codemanufacture', 'cargobay UG', 'Free',
       'TVbeat', 'serokell', 'Fivetran', 'hasura', 'Google', 'iMatt Sàrl',
       'huggingface', 'Sandia National Laboratories',
       'Determinate Systems DeterminateSystems', 'Vector Informatik',
       'IMC Trading B.V.', 'zeroflucs',
       'SINTEF Digital - Computer Vision', 'RELEX Solutions',
       'stackabletech',
       'My passion projects are wimpysworld and ubuntu-mate',
       'MobileLIVE', 'AkukinKensetsu', 'otto-de', 'Cisco Systems',
       'Hanakano Consulting', 'TUDelft', 'bevutaIT', 'helsing-ai', 'DIKU',
       'dagster-io', 'Technical University of Munich', 'cloudflare',
       'Netflix', 'FP', 'YMeadows', 'Radio France', 'Yosys HQ', 'EDB',
       'Zhejiang University', 'tsurucapital', 'Tevian LLC', 'Sysdig',
       'zeabur', 'University of Reading', 'blindspot-ai', 'kanpai',
       'CERN', 'PIXMOB', 'MaterializeInc', 'freiheit-com', 'nexedworks',
       'MoonVision', 'dottxt-ai', 'Delivion GmbH', 'integrated-reasoning',
       'hire me plz', 'CodeGra-de', 'omc', 'hell, sector E (aka earth)',
       'Orli Tech', 'janestreet', 'wdzgmbh', 'Self-employed', 'Cisco',
       'Aalto University', 'tinted-software', 'Brick Abode', 'openwpm',
       'GlobalAppTesting', 'tensorfox', 'moduon', 'NetApp',
       'obsidiansystems reflex-frp', 'Media.net', 'privatevoid-net',
       'Previously Ansys, IBM. Now Matroid', 'bouvet',
       'Southern Oregon University', 'decentral-ee, superfluid-finance',
       'coder', 'University of Bonn', 'Integon',
       'botlabs-gg, lavalink-devs', 'knoopx.net',
       'Friedrich-Alexander-Universität Erlangen-Nürnberg', 'discord',
       'MSU Economics / Skoltech CS', 'SUSE', 'shopware', 'mirantis',
       'monogon-dev', 'CEO yaxitech', 'calypso-lang teamisotope',
       'NIT Kurukshetra', 'dctrbx', 'Transparent-CDN', 'nannou-org',
       '3fs', 'Hamburg University of Technology', 'Canyon Bicycles GmbH',
       'Elektroline a.s.', 'unist-loft', 'GourmetEdifice 美食殿',
       'siscodeorg siscode-mc PowerNukkit HelixLauncher', 'SycllaDB',
       'TII', 'Devbox devbox-ab', 'digitallyinduced',
       'WolfCubClan, ShardMC', '1nnovatio', 'Atlassian', 'strise',
       'coreweave', 'dyte-io', 'Electric Visions Ltd', 'goauthentik',
       'dyte-in', 'Ellogon', 'Sony AI', 'innablr', 'team-telnyx',
       'Intenta ARC GmbH', 'learn-anything', 'Universiteit Gent',
       'ATINEL', 'ahrefs ocaml-sf', 'wpengine', 'G-Research',
       'GitLab Inc.', 'Comhlan Ltd.', 'Em sabático',
       'KU Leuven, Institute of Astronomy', 'NetEase Games',
       'NixOS tweag', 'ossia', 'groq',
       'Currently at Comet Technologies Canada',
       'Faculty of Science - University of Porto', 'edgedb', 'RE: GmbH',
       'leaf-insurance', 'DataDog', 'richcongress', 'VivoGroupAu Wrappt',
       'tudock', '/dev/zero', 'QBayLogic B.V.', 'DataChefHQ',
       'fivebinaries', 'input-output-hk',
       'hughobrien.ie, thriveglobal zendesk jet', 'Teamtailor',
       'Entrepreneur', 'frameworkcomputer', 'weliihq, codinglab-io',
       'bevuta IT GmbH', 'Oracle', 'Cisco Meraki', 'Annapurna Labs',
       'primeos-work', 'JamCoreModding pest-parser', 'BitySA',
       'axodotdev',
       'South China Normal University - Software Engineering',
       'Univ. of Aizu', 'Wobcom', 'fntsoftware', 'CITA',
       'northeastern university', 'Jack Henry', 'Black Mesa',
       'F-WuTS HTL Wiener Neustadt', 'Zero Compute Ltd',
       'Netovas Eterna Teknologi', 'XLN Audio AB', 'SberMarket-Tech',
       'Pixel Theory', 'svalabs', 'ZheJiang University', 'bufbuild',
       'FerretDB', 'University of Applied Sciences Upper Austria',
       'TASEmulators', 'discloud', 'tarides', 'facebook', 'famedly',
       'Epitech', 'indeedeng', 'Rudolf Koehler GmbH', 'pengutronix',
       'Pandora', 'ngrok', 'Toulouse School of Economics', 'simplerisk',
       'grodaus', 'RenaissancePlace', '[TBD]', 'red6 enterprise software',
       'StratoKit', 'nesto-software', 'Lunar', 'riboseinc',
       'Opencreek Technology', 'Looking for work', 'expo',
       'charmbracelet goreleaser',
       'Divisions-Maintenance-Group schonfinkel Tarski-Labs', 'zendesk',
       'Fudo Security', 'Misaka Network', 'discloud  vipago',
       'Dome Software', 'testdouble',
       'Nils Bohr Institute, University of Copenhagen', 'TVNU Sweden AB',
       'Determinate Systems', 'Global Wire Oy', 'ClicksCodes',
       'ustc-ivclab', 'ORNESS', 'adora-so', 'zystem-io', 'Ditto',
       'vpsinc', 'Odense Kommune', 'Rhein-Ruhr Systemtechnik',
       'Jointech eG', 'Digizuite', 'Independant Contractor',
       'secunet Security Networks AG', 'Angry Bytes', 'Esevo Tech',
       'DivvyPayHQ', 'tiiuae',
       'Pattonville School District (PSDTools, PHS-TSA)',
       'languagetooler-gmbh', 'SAP Cloud Infrastructure', 'Polyfrost',
       'EPITA', 'Cobiro', 'PhD Student', 'apple', 'Broad Institute',
       'Carallon', 'Unite', 'tomtom-international',
       'Harvard Medical School', 'DBC A/S', 'FP Complete',
       'ferrous-systems', 'OST Ostschweizer Fachhochschule',
       'Obsidian Systems', 'DFINITY', 'Batteries Included', 'Betclic',
       'open-desk', 'Aviatrix', 'dylibso', 'Cryp-GmbH',
       'wasmCloud cosmonic', 'lexerdev', 'Framestore',
       'University of British Columbia', 'Plexinc', 'Coder',
       'Pionix GmbH', 'NASA', 'freelance', 'Sweep', 'Parse.ly',
       'Furnished Finder', 'iptch', 'purrs', 'vBlip', 'CircuitHub',
       'satoshilabs trezor invity', 'Fermyon Technologies',
       'Worcester Polytechnic Institute', 'Wake', 'wiit-cloud', '0x69',
       'The Institute for Social Research, Goethe University North Carolina (Appalachian State University)',
       'home', 'ProtonBase', 'https://linkedin.com/in/rudolfvesely',
       'Mercury, macaroni.dev', 'Instituto superior técnico',
       'notifi-network', 'matter-labs', 'Perforce', 'Biomatters',
       'NotBalds', 'RedHatOfficial', 'Granit', 'Active Shadow LLC',
       'eigerco', 'Nimbly', 'supabase', 'Hannepps', 'trailofbits',
       'unsplash', 'Digitec Galaxus AG',
       'PL Lab, National Tsing Hua University', 'Innovu',
       'NAOSTAGE, Ereimul', '256Lights', 'TietoEVRY', '-', 'tailscale',
       'Instituto Superior Técnico', 'MIPT',
       'Karlsruher Institut für Technologie', 'studio magnetophon', 'BSC',
       'Ecole Centrale Marseille', 'Liquid Instruments', 'linkedin',
       'RÄUMLICH plus GmbH', 'Relativity Space', 'Multiverse-io',
       'RustLangES', 'nedeco GmbH', 'Anduril', 'primait', '> /dev/null',
       '未来ガジェット研究所', 'University of Turku', 'ffmpeg',
       'Stefan Hojer IT-Beratung', 'SquareTable', 'amotus',
       'active-group', 'Public Transport', 'self-employed',
       'Unaffiliated', 'voys, wearespindle, bitstillery, Moving Spirits',
       'cycloidio', 'Tired of I.T!', 'Ant Group', 'oxidecomputer',
       'pandiaoy', 'President of USA', 'inexcomp arch-community',
       'deshiro', 'Autodesk', 'Ironic Design, Inc.',
       '東京大学 / University of Tokyo', 'infracloudio alcionai', 'EQONEX',
       'NLnetLabs', 'kiosc-france', 'vncommunityleague Liminova',
       'openai', 'Crafteo', 'TryGhost', 'Vannevar Labs', 'PUC-Rio',
       'kraudcloud', 'Hardis Group Italia', 'frappe browserstack',
       'observablehq', 'LuccaSA', 'Kyoto University',
       'University of Stuttgart', 'Dcard, yeecord',
       'Orthogone Technologies', 'Sprout Social', 'Bangkok Sod Center',
       'uml-robotics', 'TNG Technology Consulting GmbH', 'residual-inc',
       'imsl', 'Indeed', 'memsql', 'MediaTek Inc.',
       'Nix - Elm - Rust - Python',
       'Computer Sciences, University of Wisconsin - Madison',
       'ETH Zürich', 'Allcode', 'Google UK', 'Avolt.net', 'HarperDB',
       'bwlang', 'keeptruckin', 'Queensland University of Technology',
       'PLCT Lab', 'runtimeverification, kframework', 'crypto.com',
       'EmbarkStudios', 'Tailscale', 'F-WuTS tuw-robotics FunkFeuer',
       'UFABC, Questrade Financial Group', 'RedrockTeam',
       'Previously google, finventures', 'EpitechPromo2028', 'SNCF',
       'shipcap', 'paytronix', 'vercel', 'QuantCo', 'voltagecloud',
       'YADRO.com', 'pdtpartners', 'Working at tibber', 'Cobalt AI',
       'grnhse', 'tails.com', 'Replit',
       'KDE, CESNET, TelecomInfraProject', 'commercetools',
       'Doofemshmirtz Evil Inc.', 'quartzy', 'ksmpartners', 'PushToWeb',
       '\u200c', 'CSIRO', 'NixOS Flox', 'kernkonzept',
       'K3A & Ndemic Creations', 'relex', 'Coldharbour Digital',
       'yaxitech', 'vexxhost', 'ForesightMiningSoftwareCorporation',
       'elastic', 'Monash University', 'google material-motion',
       'sipgate', 'Tree company', 'Kvaser', 'openSUSE-zh', 'invetica',
       'Functional-Genomics-Lab', 'amboss-mededu', 'fpco', 'Trigram',
       'CollaboraOnline', 'infused.io', 'Threema GmbH / Bargen Software',
       'Arm', 'Stockly', 'media.net', 'OptiWise', 'pintia', 'FiguraMC',
       'Bread Financial', 'Mendix', '(-(-_(-_-)_-)-)', 'IMEC vzw',
       'Agendaless Consulting', 'agoda-com', 'Hangzhou, Zhejiang',
       'xpipe-io', 'Netwo', 'OCamlPro', 'hetznercloud  Platform',
       'Harbin Institute of Technology, Shenzhen', 'FactbirdHQ',
       '4592122C5C6B53B1',
       'Information Network Lab at USTC, archriscv plctlab', 'SG-Studio',
       'EpicGames', 'ittybittyapps', 'adjoe', 'transumption',
       'SC-Networks', 'SNcom', 'SeaTable', 'mgit-at', 'SiteSpect, Inc.',
       'machtfit', 'salesforce and Northeastern University', 'busernet',
       'flatironinstitute', 'VMware by Broadcom', 'adhocteam',
       'jankaifer', 'Universidade de São Paulo', 'PART Business Solution',
       'ovotech', 'Full Stack Dev', 'Pizza', 'normalyze',
       'Tsinghua University', 'ConsensusJ', 'Cyberus Technology GmbH',
       'chefkoch-dev', 'moodysanalytics', 'paritytech', 'wobcom',
       'zerocmd', 'Health+Tech', 'ETU "LETI"', 'invesalius',
       'metacraft-labs',
       'lambdal formerly digitalocean, sendgrid, sparkfun', 'fem',
       'Pacific-Health-Dynamics', 'userlike', 'Flash Research',
       'The Interface Financial Group', 'saronic-technologies',
       'Valora Digital', 'Hauleth.dev', 'Universität Augsburg',
       'digital-asset', 'Bayer', 'JKU University', 'Riddle&Code GmbH',
       'stacklet', 'Google, Inc.', 'hubblr',
       'Microsoft; Theseus Institute', 'bluecare', 'amzn', 'iteratec',
       'hkuplg', 'LiveKit', 'Alt Shift Win', 'Orolia2s', 'zerodha',
       'Home', 'Emico', 'University of Alberta', 'bytedance', 'hackbg',
       'Co-Founder at 41north', 'Cognito Forms',
       'Imperial College London', 'Available for hire', 'Uri Shaked',
       'glngn', 'nvidia', 'wyki-io', '213tec', 'Stanford University',
       'Fellow', 'croct-tech', 'FlightAware', 'lambdatest', 'asciinema',
       '10pines', 'AXA Switzerland', 'Fastly', 'adesso SE', 'enqy',
       'status-im', 'archlinux', 'Imerso3D', 'Intelinair',
       'University of Illinois at Urbana-Champaign',
       'Principal Site Reliability Engineer flexe-inc',
       'Rochester Institute of Technology', 'Moon', 'Decagon Development'],
      dtype=object)

In [2322]:
df.loc[:, 'Contributor'] = df['Contributor'].replace(['no', None, np.nan], None)

In [2324]:
df['Contributor'] = df['Contributor'].fillna("None")   # No company= None als string

In [2252]:
df_sorted = df.sort_values(by='Timestamp', ascending=False).reset_index(drop=True)

In [2352]:
df_sorted['Timestamp'] = pd.to_datetime(df_sorted['Timestamp'])
df_sorted['Year'] = df_sorted['Timestamp'].dt.year
df_sorted['Month'] = df_sorted['Timestamp'].dt.month
df_sorted

,Email,Timestamp,Contributor,Year,Month
0,pbsds@hotmail.com,2024-11-05 19:45:17+00:00,NTNU,2024,11
1,pbsds@hotmail.com,2024-11-05 19:37:59+00:00,NTNU,2024,11
2,pbsds@hotmail.com,2024-11-05 19:32:27+00:00,NTNU,2024,11
3,pbsds@hotmail.com,2024-11-05 19:23:10+00:00,NTNU,2024,11
4,me@0upti.me,2024-11-05 18:23:38+00:00,None,2024,11
...,...,...,...,...,...
147190,doron.behar@gmail.com,2020-04-09 20:15:16+00:00,mathrills,2020,4
147191,tbenst@gmail.com,2019-12-23 08:33:19+00:00,Stanford University,2019,12
147192,tbenst@gmail.com,2019-12-23 08:32:34+00:00,Stanford University,2019,12
147193,tbenst@gmail.com,2019-12-23 08:31:09+00:00,Stanford University,2019,12
147194,jaakko.luttinen@iki.fi,2019-05-02 20:42:53+00:00,pandiaoy,2019,5

In [2332]:
count_2023 = (df_sorted['Year'] == 2023).sum()
count_2023

21828

In [2334]:
# commits last 12 Month (November 2023 - Oktober 2024)

df_12 = df_sorted[((df_sorted['Year'] == 2023) & (df_sorted['Month'] >= 11)) | 
                 ((df_sorted['Year'] == 2024) & (df_sorted['Month'] <= 10))]
df_12

,Email,Timestamp,Contributor,Year,Month
1712,donovan@dglover.co,2024-10-31 23:58:47+00:00,None,2024,10
1713,khaneliman12@gmail.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10
1714,ryantm-bot@ryantm.com,2024-10-31 23:51:10+00:00,None,2024,10
1715,129101708+MrSom3body@users.noreply.github.com,2024-10-31 23:50:05+00:00,None,2024,10
1716,hexa@darmstadt.ccc.de,2024-10-31 23:46:59+00:00,None,2024,10
...,...,...,...,...,...
145551,peter@hoeg.com,2023-11-01 10:05:54+00:00,None,2023,11
145552,ehmry@posteo.net,2023-11-01 09:45:42+00:00,None,2023,11
145553,luhongxu@deepin.org,2023-11-01 08:21:01+00:00,deepin community,2023,11
145554,tomoya.otabi@gmail.com,2023-11-01 03:17:30+00:00,None,2023,11
145555,29845794+Anomalocaridid@users.noreply.github.com,2023-11-01 02:29:59+00:00,None,2023,11

In [2409]:
#df_12.to_csv('df_12')

Analysis

In [2171]:
# who commits?

In [2336]:
# companies / institutions 
company_count = df_12['Contributor'].nunique()
company_count

924

In [2338]:
# private contributors

none_count= (df_12['Contributor'] == 'None').sum()
none_count

101767

In [2479]:
# Contributor 

contributor_counts = df_12['Contributor'].value_counts()
contributor_counts.head(101)

Contributor
None                                              101767
lip6                                                6833
European Commission                                 2770
sapcc                                               2761
NTNU                                                2350
                                                   ...
upsert-oy                                             35
shopware                                              35
replit                                                33
Tokyo University of Agriculture and Technology        32
canary-technologies-corp                              32
Name: count, Length: 100, dtype: int64

In [ ]:
contributor_counts = df_12['Contributor'].value_counts().

In [2394]:
contributor_counts = df_12['Contributor'].value_counts().reset_index()
contributor_counts.columns = ['Contributor', 'count']
contributor_counts.to_csv('contributor_counts.csv', index=False)

In [2366]:
# contributors who have just comitted ones

company_counts = df_12['Contributor'].value_counts()
single_commit = company_counts[company_counts == 1]
len(single_commit)

243

In [2368]:
# unique values 

df_12['Contributor'].nunique()

924

In [2372]:
# contributors filtern: chatgpt rechercher
unique_contributors = df_12['Contributor'].unique().tolist()

In [2374]:
unique_contributors_df = pd.DataFrame(unique_contributors, columns=['Contributor'])
unique_contributors_df.to_csv('unique_contributorsdf.csv', index=False)

In [2344]:
# when was committed?

In [2346]:
# new columns with month names 
month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May',6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}
df_12['Month_name'] = df_12['Month'].map(month_names)
df_12

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_4675/1121032929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_12['Month_name'] = df_12['Month'].map(month_names)

,Email,Timestamp,Contributor,Year,Month,Month_name
1712,donovan@dglover.co,2024-10-31 23:58:47+00:00,None,2024,10,October
1713,khaneliman12@gmail.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October
1714,ryantm-bot@ryantm.com,2024-10-31 23:51:10+00:00,None,2024,10,October
1715,129101708+MrSom3body@users.noreply.github.com,2024-10-31 23:50:05+00:00,None,2024,10,October
1716,hexa@darmstadt.ccc.de,2024-10-31 23:46:59+00:00,None,2024,10,October
...,...,...,...,...,...,...
145551,peter@hoeg.com,2023-11-01 10:05:54+00:00,None,2023,11,November
145552,ehmry@posteo.net,2023-11-01 09:45:42+00:00,None,2023,11,November
145553,luhongxu@deepin.org,2023-11-01 08:21:01+00:00,deepin community,2023,11,November
145554,tomoya.otabi@gmail.com,2023-11-01 03:17:30+00:00,None,2023,11,November
145555,29845794+Anomalocaridid@users.noreply.github.com,2023-11-01 02:29:59+00:00,None,2023,11,November

In [2707]:
# group by month (not just 2024) 

commits_per_month = df_12.groupby(['Year','Month']).size().reset_index(name='Commits')
commits_per_month

    Year  Month  Commits
0   2023     11     9510
1   2023     12    10780
2   2024      1    12468
3   2024      2    11844
4   2024      3    13382
5   2024      4     9989
6   2024      5    14133
7   2024      6    12834
8   2024      7    13681
9   2024      8    13043
10  2024      9    12651
11  2024     10     9529

In [2469]:
# filter top 100 contributor: institution/company/other/private: intensive reasearch with chatgpt, crnchbase, linkedIN & google

In [2829]:
file_path1= '/Users/ironhack/Downloads/top_100_updated.csv'
df_filtered= pd.read_csv(file_path1)
df_filtered.head()

/opt/anaconda3/lib/python3.12/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

,Unnamed: 0,Contributor,count,Category,Location,Companysize
0,0,NaN,101767,Other,Unknown,0
1,1,lip6,6833,Institution,"Paris, France",400
2,2,European Commission,2770,Institution,"Brussels, Belgium",0
3,3,sapcc,2761,Company,"Walldorf, Germany",1000–5000
4,4,NTNU,2350,Institution,"Trondheim, Norway",0

In [2817]:
df_filtered.at[0, 'Contributor'] = 'Private'

In [2823]:
#adding values: (fron linkedIn)

Companysize = {
    'wirenboard': '51–200',
    'Tweag': '51-200',
    'Qumulo': '201-500',
    'Silverpond': '11-50',
    'Pyronet': '2-10',
    'reMarkable': '201-500',
    'hercules-ci':'0-10',
    'numtide': '2-10',
    'canonical': '1001- 5000',
    'SkylineTechnologies': '2-10',
    'sapcc': '1000–5000'
}

for company, size in Companysize.items():
    df_filtered.loc[df_filtered['Contributor'] == company, 'Companysize'] = size

df_filtered.tail(50)

,Unnamed: 0,Contributor,count,Category,Location,Companysize
51,51,Strid Tech AB,101,Company,"Stockholm, Sweden",5
52,52,Student,101,Other,Unknown,0
53,53,opallabs,99,Company,USA,1-50
54,54,TestLab360,93,Company,"Newstead, Queensland, Australia",30
55,55,curried-software,90,Other,Unknown,0
56,56,/dev/null,82,Other,NaN,0
57,57,PhD Student at Télécom Paris // Self employed ...,81,Other,Unknown,0
58,58,Universidade Tecnológica Federal do Paraná,80,Institution,"Curitiba, Brazil",0
59,59,proxmox,76,Company,Austria,1-50
60,60,"Self-employed, Apache Software Foundation",76,Other,Unknown,0
61,61,Student caltech,74,Other,Unknown,0
62,62,finsit Wolters Kluwer,74,Other,Unknown,0
63,63,My own consultancy,72,Other,Unknown,0
64,64,up² | upsquared,71,Other,Unknown,0
65,65,cyberus-technology,71,Company,Germany,1-50
66,66,cachix,68,Company,Slovenia,1-10
67,67,Beihang University,68,Institution,"Beijing, China",0
68,68,mlabs-haskell,67,Company,United Kingdom,1-50
69,69,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",0
70,70,TU Graz,64,Institution,Austria,1000+
71,71,Buzzvil,61,Company,"Seoul, South Korea",75
72,72,Nix.How,60,Other,NaN,0
73,73,Friedrich Schiller University Jena,58,Institution,Germany,1000+
74,74,Edgeless Systems,56,Company,"Bochum, Germany",30
75,75,ONERA,56,Institution,"Palaiseau, France",0
76,76,CEA,54,Institution,"Paris, France",0
77,77,helsinki-systems,54,Company,Finland,1-50
78,78,Yale University,54,Institution,"New Haven, Connecticut, USA",0
79,79,red6 enterprise software,54,Company,Germany,50-200
80,80,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",75
81,81,dyte-io,53,Company,India,1-50
82,82,O.S. Systems,51,Company,Brazil,30
83,83,kiosc-france,45,Other,Unknown,0
84,84,NixOS tweag,45,Other,Unknown,0
85,85,Microsoft,45,Company,"Redmond, Washington, USA",0
86,86,DB Netz AG,44,Company,"Frankfurt, Germany",0
87,87,simplerisk,44,Company,USA,1-50
88,88,Tweag,43,Company,"Paris, France",51-200
89,89,Red Hat,43,Company,"Raleigh, North Carolina, USA",0
90,90,Self-Employed Consultant,39,Other,Unknown,0
91,91,Esevo Tech,37,Company,Unknown,0
92,92,AkukinKensetsu,37,Other,Japan,0
93,93,MercuryTechnologies,36,Company,USA,50-200
94,94,Silverfin,35,Company,"Ghent, Belgium",150
95,95,upsert-oy,35,Company,Finland,1-50
96,96,shopware,35,Company,Germany,50-200
97,97,replit,33,Company,USA,50-200
98,98,Tokyo University of Agriculture and Technology,32,Institution,"Fuchū, Tokyo, Japan",0
99,99,canary-technologies-corp,32,Company,USA,50-200
100,100,[TBD],31,Other,Unknown,0

In [2831]:
# Top 100 contributor 

#df_filtered.to_csv('top_100.csv')

In [2849]:
#COMPANIES

df_filtered[df_filtered['Category'] == 'Company']
df_companies = df_filtered[df_filtered['Category'] == 'Company'].reset_index(drop=True)
df_companies.index = range(1, len(df_companies) + 1)

In [2851]:
# cleaning companysize

df_companies['Companysize'] = df_companies['Companysize'].astype(str).str.replace(",", "")

In [2837]:
df_companies

,Unnamed: 0,Contributor,count,Category,Location,Companysize
1,3,sapcc,2761,Company,"Walldorf, Germany",1000–5000
2,8,Global-e,976,Company,Switzerland,1001
3,12,wirenboard,679,Company,Kazakhstan,51–200
4,13,ifm electronics,668,Company,Germany,5001-10000
5,15,Tweag,606,Company,France,51-200
6,16,Qumulo,545,Company,"Seattle, USA",201-500
7,20,ogion.cz,430,Company,Czech Republic,30
8,21,Silverpond,394,Company,"Melbourne, Australia",11-50
9,25,hercules-ci,343,Company,Netherlands,0-10
10,29,numtide,280,Company,Switzerland,2-10
11,31,canonical,261,Company,"London, United Kingdom",1001- 5000
12,32,SkylineTechnologies,259,Company,"Wisconsin, USA",2-10
13,34,PyroNet,199,Company,Poland,30
14,35,reMarkable,194,Company,"Oslo, Norway",201-500
15,36,Emotion Labs,190,Company,"Moscow, Russia",30
16,37,FlyingCircusIO,189,Company,"Halle, Germany",30
17,39,WEHI,178,Company,Australia,300
18,41,SatoshiLabs,153,Company,Czech Republic,125
19,44,siemens,144,Company,Germany,100001
20,45,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",75
21,46,ObsidianSystems,122,Company,South Africa,1-50
22,47,mnx-solutions,122,Company,"Michigan, USA",11-50
23,49,aws,106,Company,"Seattle, USA",10001
24,51,Strid Tech AB,101,Company,"Stockholm, Sweden",5
25,53,opallabs,99,Company,USA,1-50
26,54,TestLab360,93,Company,"Newstead, Queensland, Australia",30
27,59,proxmox,76,Company,Austria,1-50
28,65,cyberus-technology,71,Company,Germany,1-50
29,66,cachix,68,Company,Slovenia,1-10
30,68,mlabs-haskell,67,Company,United Kingdom,1-50
31,69,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",0
32,71,Buzzvil,61,Company,"Seoul, South Korea",75
33,74,Edgeless Systems,56,Company,"Bochum, Germany",30
34,77,helsinki-systems,54,Company,Finland,1-50
35,79,red6 enterprise software,54,Company,Germany,50-200
36,80,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",75
37,81,dyte-io,53,Company,India,1-50
38,82,O.S. Systems,51,Company,Brazil,30
39,85,Microsoft,45,Company,"Redmond, Washington, USA",0
40,86,DB Netz AG,44,Company,"Frankfurt, Germany",0
41,87,simplerisk,44,Company,USA,1-50
42,88,Tweag,43,Company,"Paris, France",51-200
43,89,Red Hat,43,Company,"Raleigh, North Carolina, USA",0
44,91,Esevo Tech,37,Company,Unknown,0
45,93,MercuryTechnologies,36,Company,USA,50-200
46,94,Silverfin,35,Company,"Ghent, Belgium",150
47,95,upsert-oy,35,Company,Finland,1-50
48,96,shopware,35,Company,Germany,50-200
49,97,replit,33,Company,USA,50-200
50,99,canary-technologies-corp,32,Company,USA,50-200

In [2839]:
# Companysize formatting

def convert_range_to_int(value):
                                                
    if pd.isna(value) or value == '':     # if NaN = 0
        return 0
    
    
    if '–' in value or '-' in value:        # check if -/--
        separator = '–' if '–' in value else '-'
        start, end = value.split(separator)
        
                                                    # convert to int + mean
        if start.strip().isdigit() and end.strip().isdigit():
            return (int(start.strip()) + int(end.strip())) // 2
        else:
            return 0 
    
                                          # convert to int
    elif value.strip().isdigit():
        return int(value.strip())
    else:
        return 0

In [2841]:
df_companies['Companysize'] = df_companies['Companysize'].apply(convert_range_to_int)

In [2843]:
df_companies

,Unnamed: 0,Contributor,count,Category,Location,Companysize
1,3,sapcc,2761,Company,"Walldorf, Germany",3000
2,8,Global-e,976,Company,Switzerland,1001
3,12,wirenboard,679,Company,Kazakhstan,125
4,13,ifm electronics,668,Company,Germany,7500
5,15,Tweag,606,Company,France,125
6,16,Qumulo,545,Company,"Seattle, USA",350
7,20,ogion.cz,430,Company,Czech Republic,30
8,21,Silverpond,394,Company,"Melbourne, Australia",30
9,25,hercules-ci,343,Company,Netherlands,5
10,29,numtide,280,Company,Switzerland,6
11,31,canonical,261,Company,"London, United Kingdom",3000
12,32,SkylineTechnologies,259,Company,"Wisconsin, USA",6
13,34,PyroNet,199,Company,Poland,30
14,35,reMarkable,194,Company,"Oslo, Norway",350
15,36,Emotion Labs,190,Company,"Moscow, Russia",30
16,37,FlyingCircusIO,189,Company,"Halle, Germany",30
17,39,WEHI,178,Company,Australia,300
18,41,SatoshiLabs,153,Company,Czech Republic,125
19,44,siemens,144,Company,Germany,100001
20,45,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",75
21,46,ObsidianSystems,122,Company,South Africa,25
22,47,mnx-solutions,122,Company,"Michigan, USA",30
23,49,aws,106,Company,"Seattle, USA",10001
24,51,Strid Tech AB,101,Company,"Stockholm, Sweden",5
25,53,opallabs,99,Company,USA,25
26,54,TestLab360,93,Company,"Newstead, Queensland, Australia",30
27,59,proxmox,76,Company,Austria,25
28,65,cyberus-technology,71,Company,Germany,25
29,66,cachix,68,Company,Slovenia,5
30,68,mlabs-haskell,67,Company,United Kingdom,25
31,69,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",0
32,71,Buzzvil,61,Company,"Seoul, South Korea",75
33,74,Edgeless Systems,56,Company,"Bochum, Germany",30
34,77,helsinki-systems,54,Company,Finland,25
35,79,red6 enterprise software,54,Company,Germany,125
36,80,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",75
37,81,dyte-io,53,Company,India,25
38,82,O.S. Systems,51,Company,Brazil,30
39,85,Microsoft,45,Company,"Redmond, Washington, USA",0
40,86,DB Netz AG,44,Company,"Frankfurt, Germany",0
41,87,simplerisk,44,Company,USA,25
42,88,Tweag,43,Company,"Paris, France",125
43,89,Red Hat,43,Company,"Raleigh, North Carolina, USA",0
44,91,Esevo Tech,37,Company,Unknown,0
45,93,MercuryTechnologies,36,Company,USA,125
46,94,Silverfin,35,Company,"Ghent, Belgium",150
47,95,upsert-oy,35,Company,Finland,25
48,96,shopware,35,Company,Germany,125
49,97,replit,33,Company,USA,125
50,99,canary-technologies-corp,32,Company,USA,125

In [2759]:
df_companies_sorted = df_companies.sort_values(by='Companysize', ascending=False)
df_companies_sorted
#df_companies_sorted.to_csv('top_con_size.csv')

,Contributor,count,Category,Location,Companysize
14,Infrastructure DBCDK,131,Company,"Copenhagen, Denmark",75
20,tiko Energy Solutions AG,54,Company,"Zurich, Switzerland",75
18,Buzzvil,61,Company,"Seoul, South Korea",75
15,Strid Tech AB,101,Company,"Stockholm, Sweden",5
12,Emotion Labs,190,Company,"Moscow, Russia",30
21,O.S. Systems,51,Company,Brazil,30
19,Edgeless Systems,56,Company,"Bochum, Germany",30
16,TestLab360,93,Company,"Newstead, Queensland, Australia",30
13,FlyingCircusIO,189,Company,"Halle, Germany",30
10,PyroNet,199,Company,Poland,30
11,reMarkable,194,Company,"Oslo, Norway",250
26,Silverfin,35,Company,"Ghent, Belgium",150
9,SkylineTechnologies,259,Company,"Wisconsin, USA",0
2,wirenboard,679,Company,Kazakhstan,0
8,canonical,261,Company,"London, United Kingdom",0
7,numtide,280,Company,Switzerland,0
17,"Viasat, Inc.",66,Company,"Carlsbad, California, USA",0
6,hercules-ci,343,Company,Netherlands,0
5,Silverpond,394,Company,"Melbourne, Australia",0
4,Qumulo,545,Company,"Seattle, USA",0
3,Tweag,606,Company,France,0
22,Microsoft,45,Company,"Redmond, Washington, USA",0
23,DB Netz AG,44,Company,"Frankfurt, Germany",0
24,Red Hat,43,Company,"Raleigh, North Carolina, USA",0
25,Esevo Tech,37,Company,Unknown,0
1,sapcc,2761,Company,"Walldorf, Germany",0

In [2697]:
df_12

,Email,Timestamp,Contributor,Year,Month,Month_name
1712,donovan@dglover.co,2024-10-31 23:58:47+00:00,None,2024,10,October
1713,khaneliman12@gmail.com,2024-10-31 23:53:35+00:00,SkylineTechnologies,2024,10,October
1714,ryantm-bot@ryantm.com,2024-10-31 23:51:10+00:00,None,2024,10,October
1715,129101708+MrSom3body@users.noreply.github.com,2024-10-31 23:50:05+00:00,None,2024,10,October
1716,hexa@darmstadt.ccc.de,2024-10-31 23:46:59+00:00,None,2024,10,October
...,...,...,...,...,...,...
145551,peter@hoeg.com,2023-11-01 10:05:54+00:00,None,2023,11,November
145552,ehmry@posteo.net,2023-11-01 09:45:42+00:00,None,2023,11,November
145553,luhongxu@deepin.org,2023-11-01 08:21:01+00:00,deepin community,2023,11,November
145554,tomoya.otabi@gmail.com,2023-11-01 03:17:30+00:00,None,2023,11,November
145555,29845794+Anomalocaridid@users.noreply.github.com,2023-11-01 02:29:59+00:00,None,2023,11,November

In [2847]:
# merge

merged_df = df_12.merge(df_companies, on='Contributor', how='left')
merged_df.tail(50)

,Email,Timestamp,Contributor,Year,Month,Month_name,Unnamed: 0,count,Category,Location,Companysize
144400,sophie@999eagle.moe,2023-11-02 18:41:52+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144401,vifino@posteo.net,2023-11-02 17:46:12+00:00,DB Netz AG,2023,11,November,86.0,44.0,Company,"Frankfurt, Germany",0.0
144402,kjeremy@gmail.com,2023-11-02 17:09:24+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144403,bcdarwin@gmail.com,2023-11-02 17:03:34+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144404,bcdarwin@gmail.com,2023-11-02 17:01:03+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144405,hi@alyssa.is,2023-11-02 16:32:40+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144406,robert13grimley@gmail.com,2023-11-02 16:17:33+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144407,philip@munksgaard.me,2023-11-02 15:34:07+00:00,leaf-insurance,2023,11,November,NaN,NaN,NaN,NaN,NaN
144408,joerg@thalheim.io,2023-11-02 14:09:12+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144409,Vincent.Laporte@gmail.com,2023-11-02 13:59:54+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144410,joerg@thalheim.io,2023-11-02 13:49:05+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144411,joerg@thalheim.io,2023-11-02 13:47:43+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144412,lblasc@tvbeat.com,2023-11-02 13:11:14+00:00,TVbeat,2023,11,November,NaN,NaN,NaN,NaN,NaN
144413,pbsds@hotmail.com,2023-11-02 12:59:59+00:00,NTNU,2023,11,November,NaN,NaN,NaN,NaN,NaN
144414,1780588+malt3@users.noreply.github.com,2023-11-02 12:13:00+00:00,tweag,2023,11,November,NaN,NaN,NaN,NaN,NaN
144415,paveloom@riseup.net,2023-11-02 09:59:03+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144416,penalty1083@outlook.com,2023-11-02 09:52:33+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144417,Vincent.Laporte@gmail.com,2023-11-02 06:11:45+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144418,simon.kohlmeyer@gmail.com,2023-11-02 04:00:11+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144419,h7x4@nani.wtf,2023-11-02 03:48:06+00:00,Programvareverkstedet,2023,11,November,NaN,NaN,NaN,NaN,NaN
144420,adam@valkor.net,2023-11-02 03:23:56+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144421,adam@valkor.net,2023-11-02 03:23:42+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144422,h7x4@nani.wtf,2023-11-02 03:18:13+00:00,Programvareverkstedet,2023,11,November,NaN,NaN,NaN,NaN,NaN
144423,h7x4@nani.wtf,2023-11-02 03:17:03+00:00,Programvareverkstedet,2023,11,November,NaN,NaN,NaN,NaN,NaN
144424,slyich@gmail.com,2023-11-02 03:07:12+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144425,daniel.olsen99@gmail.com,2023-11-02 02:45:36+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144426,hexa@darmstadt.ccc.de,2023-11-02 01:17:16+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144427,hexa@darmstadt.ccc.de,2023-11-02 01:17:09+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144428,hexa@darmstadt.ccc.de,2023-11-02 01:14:34+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144429,hexa@darmstadt.ccc.de,2023-11-01 23:42:44+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144430,nikstur@outlook.com,2023-11-01 23:15:38+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144431,erik.arvstedt@gmail.com,2023-11-01 21:25:30+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144432,marc.jakobi@tiko.energy,2023-11-01 21:13:11+00:00,tiko Energy Solutions AG,2023,11,November,80.0,54.0,Company,"Zurich, Switzerland",75.0
144433,quinnd@riseup.net,2023-11-01 19:58:58+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144434,tim@nrdxp.dev,2023-11-01 19:31:39+00:00,input-output-hk,2023,11,November,NaN,NaN,NaN,NaN,NaN
144435,philiphayes9@gmail.com,2023-11-01 19:17:18+00:00,lexe-app,2023,11,November,NaN,NaN,NaN,NaN,NaN
144436,h7x4@nani.wtf,2023-11-01 17:04:42+00:00,Programvareverkstedet,2023,11,November,NaN,NaN,NaN,NaN,NaN
144437,ryantm-bot@ryantm.com,2023-11-01 16:36:10+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144438,tim@nrdxp.dev,2023-11-01 16:32:15+00:00,input-output-hk,2023,11,November,NaN,NaN,NaN,NaN,NaN
144439,kerstin@erictapen.name,2023-11-01 14:44:27+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144440,nudelsalat@clouz.de,2023-11-01 13:04:05+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144441,paveloom@riseup.net,2023-11-01 11:50:18+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144442,damien@cassou.me,2023-11-01 10:31:18+00:00,finsit Wolters Kluwer,2023,11,November,NaN,NaN,NaN,NaN,NaN
144443,damien@cassou.me,2023-11-01 10:30:41+00:00,finsit Wolters Kluwer,2023,11,November,NaN,NaN,NaN,NaN,NaN
144444,damien@cassou.me,2023-11-01 10:23:45+00:00,finsit Wolters Kluwer,2023,11,November,NaN,NaN,NaN,NaN,NaN
144445,peter@hoeg.com,2023-11-01 10:05:54+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144446,ehmry@posteo.net,2023-11-01 09:45:42+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144447,luhongxu@deepin.org,2023-11-01 08:21:01+00:00,deepin community,2023,11,November,NaN,NaN,NaN,NaN,NaN
144448,tomoya.otabi@gmail.com,2023-11-01 03:17:30+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN
144449,29845794+Anomalocaridid@users.noreply.github.com,2023-11-01 02:29:59+00:00,None,2023,11,November,NaN,NaN,NaN,NaN,NaN