In [59]:
import pandas as pd
import requests
from datetime import datetime
import time

In [65]:
owner = 'NixOS'  
repo = 'nixpkgs' 

url = f'https://api.github.com/repos/{owner}/{repo}/commits'    #endpoint commits
response = requests.get(url)
response.status_code

200

In [1364]:
# get commitinfo

TOKEN = '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'   #GitHub API Token

# Repository:
owner = 'NixOS'
repo = 'nixpkgs'
url = f'https://api.github.com/repos/{owner}/{repo}/commits?per_page=100&page=1294'   # Limit at 100 commits per request, ab seite 21

headers = {
    'Authorization': f'token {TOKEN}',
    'Accept': 'application/vnd.github.v3+json'
}

# initialze dataframe 
df46 = pd.DataFrame(columns=['Email', 'Timestamp', 'Company'])  

commit_limit = 5000  # limit 
commit_count = 0

# commit function
def get_commits(url, commit_count, commit_data):
    while url and commit_count < commit_limit:
        response = requests.get(url, headers=headers)
        
        try:
            response.raise_for_status()
            commits = response.json()

            for commit in commits:
                if commit_count >= commit_limit:
                    break
                author_url = commit['author']['url'] if commit['author'] else None
                email = commit['commit']['author']['email']
                timestamp = commit['commit']['author']['date']
                company = None

                # if author_url: vorhanden ist, try and get profilinfo for comopanyname
                if author_url:
                    user_response = requests.get(author_url, headers=headers)
                    if user_response.status_code == 200:
                        user_data = user_response.json()
                        company = user_data.get('company')  

                # add in df
                commit_data.loc[commit_count] = [email, timestamp, company]
                commit_count += 1

            # check next page
            url = response.links.get('next', {}).get('url')

            # waiting time between requests
            time.sleep(1)

        except requests.exceptions.HTTPError as err:
            print(f'HTTP Error: {err}')
            break
    return commit_count, commit_data

# Aufrufen der Funktion und Übergabe der Parameter
final_commit_count, final_commit_data = get_commits(url, 0, df46)

# Ausgabe der Ergebnisse
print(f'Total collected commits: {final_commit_count}')

df46

Total collected commits: 5000

                                Email             Timestamp Company
0     marsam@users.noreply.github.com  2024-01-22T11:57:01Z    None
1                 raphael@megzari.com  2024-01-22T11:56:40Z    None
2     marsam@users.noreply.github.com  2024-01-22T11:56:19Z    None
3     marsam@users.noreply.github.com  2024-01-22T11:56:08Z    None
4               ryantm-bot@ryantm.com  2024-01-22T11:55:46Z    None
...                               ...                   ...     ...
4995                 nickcao@nichi.co  2024-01-10T15:41:38Z    None
4996                 nickcao@nichi.co  2024-01-10T15:41:23Z    None
4997                 nickcao@nichi.co  2024-01-10T15:39:12Z    None
4998                 nickcao@nichi.co  2024-01-10T15:37:51Z    None
4999               gaetan@glepage.com  2024-01-10T10:50:07Z   Inria

[5000 rows x 3 columns]

In [1366]:
df46

                                Email             Timestamp Company
0     marsam@users.noreply.github.com  2024-01-22T11:57:01Z    None
1                 raphael@megzari.com  2024-01-22T11:56:40Z    None
2     marsam@users.noreply.github.com  2024-01-22T11:56:19Z    None
3     marsam@users.noreply.github.com  2024-01-22T11:56:08Z    None
4               ryantm-bot@ryantm.com  2024-01-22T11:55:46Z    None
...                               ...                   ...     ...
4995                 nickcao@nichi.co  2024-01-10T15:41:38Z    None
4996                 nickcao@nichi.co  2024-01-10T15:41:23Z    None
4997                 nickcao@nichi.co  2024-01-10T15:39:12Z    None
4998                 nickcao@nichi.co  2024-01-10T15:37:51Z    None
4999               gaetan@glepage.com  2024-01-10T10:50:07Z   Inria

[5000 rows x 3 columns]

In [1368]:
df46.duplicated().sum()
#df45= df45.drop_duplicates()
#df45

89

In [1370]:
df_new

                                        Email             Timestamp  Company
0                          gaetan@glepage.com  2024-11-02T22:59:15Z    Inria
1           mweinelt@users.noreply.github.com  2024-11-02T22:42:26Z     None
2     9713184+wegank@users.noreply.github.com  2024-11-02T22:29:01Z    @lip6
3                             pyrox@pyrox.dev  2024-11-02T22:24:44Z  PyroNet
4     9713184+wegank@users.noreply.github.com  2024-11-02T22:19:08Z    @lip6
...                                       ...                   ...      ...
4995          marsam@users.noreply.github.com  2024-01-22T11:58:42Z     None
4996          marsam@users.noreply.github.com  2024-01-22T11:58:29Z     None
4997          marsam@users.noreply.github.com  2024-01-22T11:57:43Z     None
4998          marsam@users.noreply.github.com  2024-01-22T11:57:01Z     None
4999                      raphael@megzari.com  2024-01-22T11:56:40Z     None

[118044 rows x 3 columns]

In [1372]:
df_new.duplicated().sum()

0

In [1374]:
df_new= pd.concat([df_new, df46], axis=0)

In [1376]:
df_new.duplicated().sum()

93

In [1378]:
df_new

                                        Email             Timestamp  Company
0                          gaetan@glepage.com  2024-11-02T22:59:15Z    Inria
1           mweinelt@users.noreply.github.com  2024-11-02T22:42:26Z     None
2     9713184+wegank@users.noreply.github.com  2024-11-02T22:29:01Z    @lip6
3                             pyrox@pyrox.dev  2024-11-02T22:24:44Z  PyroNet
4     9713184+wegank@users.noreply.github.com  2024-11-02T22:19:08Z    @lip6
...                                       ...                   ...      ...
4995                         nickcao@nichi.co  2024-01-10T15:41:38Z     None
4996                         nickcao@nichi.co  2024-01-10T15:41:23Z     None
4997                         nickcao@nichi.co  2024-01-10T15:39:12Z     None
4998                         nickcao@nichi.co  2024-01-10T15:37:51Z     None
4999                       gaetan@glepage.com  2024-01-10T10:50:07Z    Inria

[123044 rows x 3 columns]

In [1380]:
df_new= df_new.drop_duplicates()
df_new

                                        Email             Timestamp  Company
0                          gaetan@glepage.com  2024-11-02T22:59:15Z    Inria
1           mweinelt@users.noreply.github.com  2024-11-02T22:42:26Z     None
2     9713184+wegank@users.noreply.github.com  2024-11-02T22:29:01Z    @lip6
3                             pyrox@pyrox.dev  2024-11-02T22:24:44Z  PyroNet
4     9713184+wegank@users.noreply.github.com  2024-11-02T22:19:08Z    @lip6
...                                       ...                   ...      ...
4995                         nickcao@nichi.co  2024-01-10T15:41:38Z     None
4996                         nickcao@nichi.co  2024-01-10T15:41:23Z     None
4997                         nickcao@nichi.co  2024-01-10T15:39:12Z     None
4998                         nickcao@nichi.co  2024-01-10T15:37:51Z     None
4999                       gaetan@glepage.com  2024-01-10T10:50:07Z    Inria

[122951 rows x 3 columns]

In [1382]:
df_new.to_csv('df_new.csv')

In [43]:
commit_data['Company'] = commit_data['Company'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
commit_data['Company'] = commit_data['Company'].str.strip()
commit_data['Company'].unique()

array(['NTNU', None, 'sportradar', 'UESTC', 'Inria', 'mathrills', 'sapcc',
       'Microsoft Norway', 'datakami', 'Infrastructure DBCDK', 'menzelit',
       'edgelesssys', 'Sammilani Mahavidyalaya', 'channable', 'numtide',
       'lip6', 'PyroNet', 'bitrise-io', 'SkylineTechnologies', 'Qumulo',
       'no', 'ObsidianSystems', 'Intel', 'eiicon-company',
       'mlabs-haskell', 'European Commission', 'Freelancer', 'reMarkable',
       'Helsinki Systems GmbH', 'Wavelens', 'hercules-ci',
       'Edgeless Systems', 'cz.nic labs CZ-NIC', 'secunet',
       'RawkodeAcademy', 'NixOS', 'UC Berkeley', 'Emotion Labs',
       'NextQuestion LLC', 'Epic Games / Mediatonic', 'fortx', 'sureapp',
       'wirenboard', 'Vrije Universiteit Brussel', 'dd-ix, tlm-solutions',
       'sensible.io', 'voltrondata', 'ClickHouse', 'deepin community',
       'Student caltech', 'hetzneronline', 'flyingcircusio'], dtype=object)

In [634]:
#df_new= pd.concat([df_new, df19], axis=0)

In [636]:
#df_new.duplicated().sum()

0

In [612]:
#df_new= df_new.drop_duplicates()

In [668]:
df_new

,Email,Timestamp,Company
0,gaetan@glepage.com,2024-11-02T22:59:15Z,Inria
1,mweinelt@users.noreply.github.com,2024-11-02T22:42:26Z,None
2,9713184+wegank@users.noreply.github.com,2024-11-02T22:29:01Z,@lip6
3,pyrox@pyrox.dev,2024-11-02T22:24:44Z,PyroNet
4,9713184+wegank@users.noreply.github.com,2024-11-02T22:19:08Z,@lip6
...,...,...,...
1995,pol.dellaiera@protonmail.com,2024-08-31T20:37:54Z,European Commission
1996,pub.git@zlender.si,2024-08-31T20:28:00Z,None
1997,6109326+hummeltech@users.noreply.github.com,2024-08-31T17:56:28Z,Executive Chefs
1998,ryantm-bot@ryantm.com,2024-08-31T19:55:50Z,None
1999,tomodachi94@protonmail.com,2024-08-31T19:53:52Z,None

In [640]:
#df_new.to_csv('df_new.csv')

In [1384]:
url = "https://api.github.com/rate_limit"
headers = {'Authorization': f'token {TOKEN}'}

response = requests.get(url, headers=headers)
rate_limit_info = response.json()

# Verbleibende Anfragen und Zeit bis zum Reset
remaining_requests = rate_limit_info['rate']['remaining']
reset_time = rate_limit_info['rate']['reset']
reset_time_local = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(reset_time))

print(f"Remaining requests: {remaining_requests}")
print(f"Limit reset time (local): {reset_time_local}")

Remaining requests: 30
Limit reset time (local): 2024-11-08 17:36:01

In [1268]:
df.duplicated().sum()

0

In [414]:
df= df.drop_duplicates()
df_new= df

In [416]:
#df_new.to_csv('df_new.csv')

In [ ]:
df24['Company'] = df24['Company'].str.replace('@', '', regex=False) #performs simple, direct string replacement(default r=True)
df24['Company'] = df24['Company'].str.strip()